<div class="top-division">
    <div class="first">
        <p>How many overall orders</p>
    </div>
    <div class="first">
        <p>How many customers</p>
    </div>
    <div class="first">
        <p>How many product available</p>
    </div>
    <div class="first">
        <p>Total all sales for the week</p>
    </div>
</div>

<div class="table-bar-wrapper">
    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <p>Pending Orders</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Testing</td>
                        <td>Testing Product</td>
                        <td>2</td>
                        <td>M</td>
                        <td>Php 100.00</td>
                        <td>Php 200.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column" style="background-color:#bbb;">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
</div>