<div class="container con">
    <form [formGroup]="AddProductForm" (ngSubmit)="submit()">
        <div class="row content">
            <div class="col-md-4 form-group">
                <img class="image" [src]="imageSrc" *ngIf="imageSrc; else default" alt="product-image">
                <div *ngIf="errors && errors.image" class="alert alert-danger">
                    <div class="" *ngFor="let image of errors.image">
                        *{{ errors.image }}
                    </div>
                </div>
                <ng-template #default>
                    <img class="image" src="../../../../../assets/imgs/product.jpg" alt="product-image">
                </ng-template>
                <label for="file" class="file-upload">
              <input
              type="file"
              formControlName="image"
              name="image"
              class="form-control"
              accept="image/*"
              id="file"
              style="display: none;"
              (change)="onFileChange($event)">
              Select Image
            </label>

            </div>
            <div class="col-md-8 form-group">
                <div *ngIf="errors && errors.name" class="alert alert-danger">
                    *{{ errors.name[0] }}
                </div>
                <input type="text" class="form-control field" name="" formControlName="name" class="form-control" id="" placeholder="Name">
                <div *ngIf="errors && errors.category_id" class="alert alert-danger">
                    *{{ errors.category_id[0] }}
                </div>
                <select name="category_id" formControlName="category_id"  class="options form-control">
                  <option value="" hidden>Category</option>
                  <option *ngFor="let category of categories"
                  [value]="category.id"
                  >
                {{category.name}}
              </option>
            </select>

                <div class="row size-container">
                    <div class="col">
                        <div *ngIf="errors && errors.price" class="alert alert-danger">
                            *{{ errors.price[0] }}
                        </div>
                        <input
                        type="number"
                        min="1"
                         class="form-control"
                         name=""
                         formControlName="price"
                         id="price"
                         #price
                         (change)="price.value = checkNumber(price.value)"
                         placeholder="Price">
                    </div>
                    <div class="col form-group">
                        <div *ngIf="errors && errors.sizes" class="alert alert-danger">
                            *{{ errors.sizes[0] }}
                        </div>
                        <select name="sizes" id="size" class="options field form-control" formControlName="sizes" (change)="noSizesChoose($event.target)">
                            <option value="" hidden>Size</option>
                            <option *ngFor="let size of allSize" id="{{ size.id }}" [value]="size.id">{{ size.size }}</option>
                        </select>
                        <!-- <input type="text" class="form-control" name="" id="" placeholder="Size"> -->
                    </div>
                    <div class="col">
                        <div *ngIf="errors && errors.unit_measure" class="alert alert-danger">
                            *{{ errors.unit_measure[0] }}
                        </div>
                        <input
                        type="number"
                        min="1"
                        class="form-control"
                        name=""
                        id="unit_measure"
                        formControlName="unit_measure"
                        placeholder="Quantity"
                        #quantity
                        (change)="quantity.value = checkNumber(quantity.value)"
                        value="">
                    </div>
                    <div class="col">
                        <button type="button" class="btn add-size" (click)="addSize(this)"><i class="fas fa-plus-circle"></i> Add Size</button>
                    </div>
                </div>
                <div class="row" *ngFor="let product of stockSizes">
                    <div class="col">
                        <input type="text" name="" class="form-control" value="{{ product.size }}" disabled>
                    </div>
                    <div class="col">
                        <input type="text" name="" class="form-control" value="{{ product.unit_measure }}" disabled>
                    </div>
                    <div class="col">
                        <label for=""></label>
                        <button type="button" class="btn btn-danger" (click)="delete(product)"><i class="far fa-trash-alt"></i> Remove Size</button>
                    </div>
                </div>
                <button type="submit" class="btn btn-success field add-product">Add Product</button>
                <a routerLink="/admin/products" class="btn btn-success field same">Cancel</a>
            </div>
        </div>
    </form>
</div>
