
<div class="col-11 col-s-11 media320">
    <div class="row">
        <div class="col-12 col-s-12">
          <button class="btn" (click)="previous()">Back</button>
        </div>
        <div class="col-9 col-s-9 dagomlogo">
          <img class="logo320" src="../../../../assets/imgs/logo1.png" alt="">
        </div>
        <div class="col-12 col-s-12 meaning">
          <div class="col-12 col-s-12 div">
            <p class ="title">DAGOM</p>
            <p id="dagomtxt1">/da-gom/</p>
            <P>:a Santafehanon word for <strong>clothes</strong></P>
            <P>:items such as <strong>blouses, dresses</strong> and <strong>trousers</strong></P>
            <p>:carefully selected and curated for the <strong>style mavens</strong></p>
          </div>
        </div>
    </div>
  </div>

  <div class="col-11 col-s-11 media768">
    <div class="row">
      <div class="col-12 col-s-12">
        <button class="btn" (click)="previous()">Back</button>
      </div>
      <div class="col-6 col-s-16">
        <img class="logo768" src="../../../../assets/imgs/logo1.png" alt="">
      </div>
      <div class="col-6 col-s-6 meaning">
        <div class=" col-12 col-s-12 div">
          <p class ="title">D A G O M</p>
          <p id="dagomtxt1">/da-gom/</p>
          <P class="txt">:a Santafehanon word for <strong>clothes</strong></P>
          <P class="txt">:items such as <strong>blouses, dresses</strong> and <strong>trousers</strong></P>
          <p class="txt">:carefully selected and curated for the <strong>style mavens</strong></p>
        </div>
      </div>
    </div>
  </div>


