.leftDiv {
    float: left;
    position: absolute;
    background-color: rgb(240, 231, 231);
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    margin-top: 5%;
    width: 16%;
    text-align: center;
}
h4 {
    color: #C7988E;
}
.rightDiv {
    float: right;
    background-color: rgb(240, 231, 231);
    overflow: hidden;
    border-radius: 10px;
    width: 70%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 25%;
<<<<<<< HEAD
    margin-bottom: 5%;;
    height: auto;
    position: relative;
}
/* form {
    margin-top: -70%;
} */
=======
    height: auto;
    position: relative;
}
>>>>>>> 7ac3475eafe7acc26e3b0beb2f6c591c983eb8a5
.float-left {
    float: left;
    /* margin-left: 3%; */  
}
.float-right {
    float: right;
    width: 50%;
    margin-right: 5%;
<<<<<<< HEAD
    margin-top: -35%;
=======
    margin-top: -20%;
    margin-bottom: 5%;
>>>>>>> 7ac3475eafe7acc26e3b0beb2f6c591c983eb8a5
}
input {
    background-color:  #C7988E;
}
<<<<<<< HEAD
.resetButton {
    background-color:  #C7988E;
    float: right;
    margin-bottom: 5%;
}
=======
>>>>>>> 7ac3475eafe7acc26e3b0beb2f6c591c983eb8a5
form button {
    width: 100px;
}
 
@media only screen and (max-width: 600px){
    .leftDiv {
        width: 50%;
        margin-left: 25%;   
    }
    .leftImage{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .rightDiv {
        margin-top: 65%;
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 5%;
<<<<<<< HEAD
=======
    }

    form {
        margin-top: -20%;
        margin-left: 5%;
>>>>>>> 7ac3475eafe7acc26e3b0beb2f6c591c983eb8a5
    }
    /* .float-left img {
        width: 100%;
        height: 100%;
        margin-right: 10%;
    } */
    form {
<<<<<<< HEAD
        margin-left: 5%;
    }
=======
        margin-top: -5%;
        margin-left: 20%;
        margin-top: -50px;
    }
    /* .selectImage {
        width: 25%;
    } */

    /* form input {
        width: 180px;
    } */
>>>>>>> 7ac3475eafe7acc26e3b0beb2f6c591c983eb8a5
    form button {
        margin-right: -41%;
        width: 100px;
    }
    .submitButton {
        margin-left: 20%;
        margin-right: 20%;
    }
    

}
/* 
@media (min-width: 360px){
    .rightDiv {
        margin-top: 90%;
    }
    .float-left {
        margin-left: 15%;
    }
    .selectImage{
        width: 60%;
    }
    form {
        margin-top: 60%;
        margin-left: -50%;
        margin-right: 25%;
    }

} */


