<div>

  <div class="row"> 
    <div class="col leftDiv">
      <!-- <div class="leftDiv"> -->
        <div class="leftImage">
          <img class="rounded-circle mt-5" style="width:80%; height:auto;" src="../../../../assets/imgs/image1.jpg"
            alt="">
        </div>

        <h4 class="mb-5">Customer Name</h4>
        <a href="">
          <h4>Edit Account</h4>
        </a>
        <a href="">
          <h4 class="mb-3">My Orders</h4>
        </a>
      <!-- </div> -->
    </div>
    <div class="col-6 rightDiv">
      <!-- <div class="rightDiv"> -->
        <div class="float-left">
          <img class="selectImage rounded-circle ml-5 mt-5" style="width:30%; height: 50%;" src="../../../../assets/imgs/image1.jpg"
            alt="">
          <br>
          <button type="button" class="btn mt-3 selectImage" style="margin-left:15%; background-color: #C7988E;">Select
            Image</button>
        </div>
        <div class="float-right">

          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp"
                placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
              <input type="phonnumber" class="form-control" id="phoneNumber" placeholder="Phone Number">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="emailAddress" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="address" placeholder="Address">
            </div>

            <button type="submit" class="btn btn-success submitButton ">Submit</button>
          </form>
        </div>
      <!-- </div> -->
    </div>
  </div>




  <!-- <div class="leftDiv">
      <div class="leftImage">
        <img class="rounded-circle mt-5" style="width:80%; height:auto;" src="../../../../assets/imgs/image1.jpg"
          alt="">
      </div>

      <h4 class="mb-5">Customer Name</h4>
      <a href="">
        <h4>Edit Account</h4>
      </a>
      <a href="">
        <h4 class="mb-3">My Orders</h4>
      </a>
    </div>
    <div class="rightDiv">
      <div class="float-left">
        <img class="rounded-circle ml-5 mt-5" style="width:30%; height: 50%;" src="../../../../assets/imgs/image1.jpg"
          alt="">
        <br>
        <button type="button" class="btn mt-3 selectImage" style="margin-left:15%; background-color: #C7988E;">Select
          Image</button>
      </div>
      <div class="float-right">

        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp"
              placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="phonnumber" class="form-control" id="phoneNumber" placeholder="Phone Number">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="emailAddress" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="address" placeholder="Address">
          </div>

          <button type="submit" class="btn btn-success submitButton ">Submit</button>
        </form> -->

  <!-- <form>
                <div class="form-group">
                    <input type="firstname" class="form-control" id="firstName" placeholder="Firstname">
                </div>
                <div class="form-group">
                    <input type="lastname" class="form-control" id="lastName" placeholder="Lastname">
                </div>
                <div class="form-group">
                    <input type="phonenumber" class="form-control" id="phoneNumber" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="emailaddress" class="form-control" id="emailAddress" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input type="address" class="form-control" id="address" placeholder="Address">
                </div>

                <button type="submit" class="btn btn-success w-25 submit-btn" style="float:right;">Save</button> 

            </form> -->
  <!-- </div>
    </div> -->
</div>
