.leftDiv {
    float: left;
    position: absolute;
    background-color: rgb(240, 231, 231);
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    margin-top: 5%;
    width: 16%;
    text-align: center;
}

h4 {
    color: #C7988E;
}

.rightDiv {
    float: right;
    background-color: rgb(240, 231, 231);
    overflow: hidden;
    border-radius: 10px;
    width: 70%;
    margin-top: 5%;
    margin-right: 5%;
    height: 100%;
    position: relative;
}

.left {
    float: left;
    margin-left: 3%;
    
}

.right {
    float: right;
    width: 50%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

input {
    background-color:  #C7988E;
}

form button {
    width: 100px;
}
 
@media only screen and (max-width: 360px){
    .leftDiv {
        width: 50%;
        margin-left: 25%;
    }
    .leftDiv img{
        width: 20%;
        margin-left: -50%;
    }

    .rightDiv {
        margin-top: 110%;
        margin-right: 15%;
    }

    .rightDiv img {
        width: 50%;
        margin-right: 10%;
    }

    form {
        margin-right: 50%;
        margin-left: -50%;
    }

    form input {
        width: 180px;
    }

    form button {
        margin-right: -41%;
        width: 100px;
    }
    

}

