<div class="container con">
    <div class="row">
        <div class="col-md-4">
            <img class="image" src="https://4.img-dpreview.com/files/p/E~TS590x0~articles/3925134721/0266554465.jpeg" alt="">
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control field" name="" id="" placeholder="Name">
            <input type="text" class="form-control field" name="" id="" placeholder="Category">
            <div class="row">
                <div class="col">
                    <input type="number" class="form-control" name="" id="" placeholder="Price">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="" id="" placeholder="Size">
                </div>
                <div class="col">
                    <input type="number" class="form-control" name="" id="" placeholder="Unit">
                </div>
            </div>
            <button class="btn btn-success field add-product">Add Product</button>
            <a routerLink="/admin/products" class="btn btn-success field same">Cancel</a>
        </div>
    </div>
</div>
