<div class="container con">
    <form action="" #FormUpdate="ngForm" (ngSubmit)="submit(FormUpdate.value)">
        <div class="row">
            <div class="col-md-4">
                <img class="image" *ngIf="image; else default" src="{{ image }}" alt="product-image">
                <ng-template #default>
                    <img class="image" src="/assets/imgs/product.jpg" alt="product-image">
                </ng-template>
            </div>
            <div class="col-md-8 nameSelect">
                <div *ngIf="error && error.name" class="alert alert-danger">
                    *{{ error.name[0] }}
                </div>
                <label for="">Product Name</label>
                <select name="name" (change)="onChange($event)" id="selected" class="options field form-control" formControlName="name">
            <option value="0" hidden>Product Name</option>
            <option *ngFor="let product of products" [value]="product.id" id="{{ product.id }}">{{product.name}}</option>
            </select>
                <div *ngIf="error && error.description" class="alert alert-danger">
                    *{{ error.description[0] }}
                </div>
                <label for="">Description</label>
                <textarea name="description" class="form-control field" cols="30" [ngModel]="description" rows="10" placeholder="Descriptions"></textarea>
                <div class="row">
                    <div class="col">
                        <div *ngIf="error && error.price" class="alert alert-danger">
                            *{{ error.price[0] }}
                        </div>
                        <label for="">Price</label>
                        <input type="number" class="form-control" name="price" [ngModel]="price" id="" min="0" placeholder="Price" disabled>
                    </div>
                    <div class="col" *ngIf="currentPage">
                        <div *ngIf="error && error.unit_measure" class="alert alert-danger">
                            *{{ error.unit_measure[0] }}
                        </div>
                        <label for="">Available Unit</label>
                        <input type="number" class="form-control" [ngModel]="unit_measure" name="unit_measure" min="0" max="{{ unit_measure }}" id="" placeholder="Unit">
                    </div>
                    <div class="col" *ngIf="currentPage">
                        <div *ngIf="error && error.size" class="alert alert-danger">
                            *{{ error.size[0] }}
                        </div>
                        <label for="">Size</label>
                        <select name="size" id="" class="options field form-control" [ngModel]="size">
                          <option value="0" hidden>Size</option>
                          <option *ngFor="let size of allSize" [value]="size.id">{{ size.size }}</option>
                      </select>
                    </div>
                </div>

                <!-- If from other page -->
                <div *ngIf="!currentPage">
                  <div class="row" *ngFor="let size of selectedSizes">
                    <div class="col">
                      <input type="text" name="" id="" value="" disabled>
                    </div>
                    <div class="col">
                      <input type="text" name="" id="" value="" disabled>
                    </div>
                  </div>
                </div>
                <!-- from other page -->

                <div class="row">
                    <div class="col">
                        <div *ngIf="error && error.percent_off" class="alert alert-danger">
                            *{{ error.percent_off[0] }}
                        </div>
                        <label for="">Promo</label>
                        <input type="number" class="form-control" name="percent_off" [ngModel]="percent_off" id="" placeholder="Promo">
                    </div>
                    <div class="col">
                      <div *ngIf="error && error.promo_type" class="alert alert-danger">
                          *{{ error.promo_type[0] }}
                      </div>
                      <label for="">Promo Type</label>
                      <select name="promo_type" id="" [ngModel]="promo_type" class="form-control">
                        <option value="#" hidden>Promo Type</option>
                        <option value="%">Percent Off</option>
                        <option value="Pesos">Pesos Off</option>
                      </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success field add-product">Add To On Sales</button>
                <a routerLink="/admin/product-on-sale" class="btn btn-success field same">Cancel</a>
            </div>
        </div>
    </form>
</div>
