<app-sample-header></app-sample-header>
<div class="col-11 col-s-11 media320">
  <div class="row">
    <div class="col-12 col-s-12 profile">
      <img class="proimg" [src]="image" alt=""><br>
      <input type="text" readonly name="" [value]="firstname" id="fname" placeholder = "First Name">
      <input type="text" readonly name="" [value]="lastname" id="lname" placeholder = "Last Name">
      <input type="text" readonly name="" [value]="contact_number" id="phoneNumber" placeholder="Phone Number">
      <input type="text" readonly name="" [value]="email" id="email" placeholder="Email Adress">
      <input type="text" readonly name="" [value]="address" id="address" placeholder="Address">
      <button class="btn" id = "edit" routerLink="/edit-account">Edit</button>
    </div>
  </div>
</div>
<div class="col-11 col-s-11 media768">
  <div class="row">
    <div class="col-3 col-s-3 account">
      <img class="profileimg" [src]="image" alt="">
      <a href="#"><p>{{ firstname }} {{ lastname }}</p></a>
      <a routerLink="/edit-account"><p>Edit Account</p></a>
      <a routerLink="/all-orders"><p>My Orders</p></a>
    </div>
    <div class="col-8 col-s-8 editpanel">
      <div class="col-12 col-s-12">
        <div class="row">
          <div class="col-5 col-s-5">
            <img class="editprofileimg" [src]="image" alt=""><br>
          </div>
          <div class="col-7 col-s-7">
            <input type="text" name="" readonly [value]="firstname" id="fname" placeholder = "First Name" >
            <input type="text" name="" readonly [value]="lastname" id="lname" placeholder = "Last Name">
            <input type="text" name="" readonly [value]="contact_number" id="phoneNumber" placeholder = "Phone Number">
            <input type="text" name="" readonly [value]="email" id="emailaddress" placeholder = "Email Address">
            <input type="text" name="" readonly [value]="address" id="address" placeholder = "Address">
          </div>
        </div>
      </div>
      <div class="col-12 col-s-12">
          <button class="btn" id="editbtn" routerLink="/edit-account">Edit</button>
      </div>
    </div>
  </div>
</div>
<hr class="hr">
<app-cus-footer></app-cus-footer>
