<app-sample-header></app-sample-header>

<div class="col-11 col-s-11 media320">
  <div class="row">
    <div class="col-12 col-s-12 profile">
      <img class="proimg" src="../../../../assets/imgs/profile.jpg" alt=""><br>
      <button class="btn" id="chooseFile">Choose File</button><br>
      <input type="text" name="" id="fname" placeholder = "First Name">
      <input type="text" name="" id="lname" placeholder = "Last Name">
      <input type="text" name="" id="phoneNumber" placeholder="Phone Number">
      <input type="text" name="" id="email" placeholder="Email Adress">
      <input type="text" name="" id="address" placeholder="Address">
      <button class="btn" id = "edit">Edit</button>
    </div>
  </div>
</div>
<div class="col-11 col-s-11 media768">
  <div class="row">
    <div class="col-3 col-s-3 account">
      <img class="profileimg" src="../../../../assets/imgs/profile.jpg" alt="">
      <a href="#"><p>Customer Name</p></a>
      <a href=""><p>Edit Account</p></a>
      <a href=""><p>My Orders</p></a>
    </div>
    <div class="col-8 col-s-8 editpanel">
      <div class="col-12 col-s-12">
        <div class="row">
          <div class="col-5 col-s-5">
            <img class="editprofileimg" src="../../../../assets/imgs/profile.jpg" alt=""><br>
          </div>
          <div class="col-7 col-s-7">
            <input type="text" name="" id="fname" placeholder = "First Name">
            <input type="text" name="" id="lname" placeholder = "Last Name">
            <input type="text" name="" id="phoneNumber" placeholder = "Phone Number">
            <input type="text" name="" id="emailaddress" placeholder = "Email Address">
            <input type="text" name="" id="address" placeholder = "Address">
          </div>
        </div>
      </div>
      <div class="col-12 col-s-12">
          <button class="btn" id="editbtn">Edit</button>
      </div>
    </div>
  </div>
</div>
<hr class="hr">
<app-cus-footer></app-cus-footer>
