<app-sample-header></app-sample-header>

<div class="leftDiv">
    <div class="leftImage">
        <img class="rounded-circle mt-5" style="width:80%; height:auto;" src="../../../../assets/imgs/image1.jpg"
            alt="">
    </div>

    <h4 class="mb-5">Customer Name</h4>
    <a href="">
        <h4>Edit Account</h4>
    </a>
    <a href="">
        <h4 class="mb-3">My Orders</h4>
    </a>
</div>
<div class="container">
    <div class="row mb-5">
        <div class="col">
            <h4>
                All orders
            </h4>
        </div>
        <div class="col">
            <h4>
                To Pay
            </h4>
        </div>
        <div class="col">
            <h4>
                Delivery Date
            </h4>
        </div>
        <div class="col">
            <h4>
                Received
            </h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div>
                <img class="ml-5 mr-5 mt-5 mb-5" style="width:150px; height:200px;"
                    src="../../../../assets/imgs/image1.jpg" alt="">
            </div>
            <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
            </div>
        </div>
        <div class="col">
            <div>
                <img class="ml-5 mr-5 mt-5 mb-5" style="width:150px; height:200px;"
                    src="../../../../assets/imgs/image1.jpg" alt="">
            </div>
            <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col">
            <div>
                <img class="ml-5 mr-5 mt-5 mb-5" style="width:150px; height:200px;"
                    src="../../../../assets/imgs/image1.jpg" alt="">
            </div>
            <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
            </div>
        </div>
        <div class="col">
            <div>
                <img class="ml-5 mr-5 mt-5 mb-5" style="width:150px; height:200px;"
                    src="../../../../assets/imgs/image1.jpg" alt="">
            </div>
            <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
            </div>
        </div>
    </div>
    <br><br><br>
</div>

<hr>
<app-cus-footer></app-cus-footer>