<app-sample-header></app-sample-header>

<div class="col-11 col-s-11 media320">
  <div class="row">
    <div class="col-12 col-s-12 headers">
      <a id="allorders" href="#">All Orders</a>
      <a href="#">To Pay</a>
      <a href="#">Delivery Date</a>
      <a href="#">Received</a>
    </div>
    <hr id="headerhr">
    <div class="col-6 col-s-6">
      <img id="img320" src="../../../../assets/imgs/dag.jpg" alt="">
    </div>
    <div class="col-6 col-s-6 right">
      <p id="prodname">Product Name</p>
      <p id="amount">Php 100.00</p>
      <p id="quant">2</p>
      <hr id = "hr1">
      <p id="total" >Php 200.00</p>
    </div>

    <div class="col-6 col-s-6">
      <img id="img320" src="../../../../assets/imgs/dag.jpg" alt="">
    </div>
    <div class="col-6 col-s-6 right">
      <p id="prodname">Product Name</p>
      <p id ="amount">Php 100.00</p>
      <p id="quant">2</p>
      <hr id = "hr1">
      <p id="total">Php 200.00</p>
    </div>
  </div>
</div>

<div class="col-12 col-s-12 media768">
  <div class="row">
    <div class="col-4 col-s-4 account">
      <img class="profileimg" src="../../../../assets/imgs/profile.jpg" alt="">
      <p class="text">Customer Name</p>
      <p class="text">Edit Account</p>
      <p class="text">My Orders</p>
    </div>
    <div class="col-7 col-s-7 deliverypanel">
      <div class="row">
        <div class="col-12 col-s-12">
          <a id="allorders" href="#" style="margin-left: -1%;">All Orders</a>
          <a href="#">To Pay</a>
          <a href="#">Delivery Date</a>
          <a href="#">Received</a>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- <div class="leftDiv">
    <div class="leftImage">
        <img class="rounded-circle mt-5" style="width:80%; height:auto;" src="../../../../assets/imgs/image1.jpg" alt="">
    </div>
    <h4 class="mb-5">Customer Name</h4>
    <a href=""><h4>Edit Account</h4></a>
    <a href=""><h4 class="mb-3">My Orders</h4></a>
</div>
<div class="container">
    <div class="row mb-5">
        <div class="col">
            <h4>
                All orders
            </h4>
        </div>
        <div class="col">
            <h4>
                To Pay
            </h4>
        </div>
        <div class="col">
            <h4>
                Delivery Date
            </h4>
        </div>
        <div class="col">
            <h4>
                Received
            </h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col order">
            <div>
                <img class="ml-5 mr-5 mt-5 mb-5" style="width:150px; height:200px;"
                    src="../../../../assets/imgs/image1.jpg" alt="">
            </div>
            <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
            </div>
        </div>
        <div class="col order">
            <div>
                <img class="ml-5 mr-5 mt-5 mb-5" style="width:150px; height:200px;"
                    src="../../../../assets/imgs/image1.jpg" alt="">
            </div>
            <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col order">
            <div>
                <img class="ml-5 mr-5 mt-5 mb-5" style="width:150px; height:200px;"
                    src="../../../../assets/imgs/image1.jpg" alt="">
            </div>
            <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
            </div>
        </div>
        <div class="col order">
            <div>
                <img class="ml-5 mr-5 mt-5 mb-5" style="width:150px; height:200px;"
                    src="../../../../assets/imgs/image1.jpg" alt="">
            </div>
            <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
            </div>
        </div>
    </div>
    <br><br><br>
</div> -->

<hr>
<app-cus-footer></app-cus-footer>
