.media320, .media768{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #F6F2EF;
    margin-bottom: 10%;
    color: #C7988E;
    font-family: 'Roboto';
  }
  hr{height: 0.2vw;}
  .hr{background-color: white;}
  a{
    color: #C7988E;
    text-decoration: none;
  }
  .account, .deliverypanel{
    background-color: #F6F2EF;
    border-radius: 5px;
  }
  #img320{
    width: 90%;
    height: 100%;
    margin-left: 14%;
    box-shadow: 4px 4px rgba(202, 195, 195, 0.541);
  }
  .profileimg{
    width: 60%;
    height: 28%;
    border-radius: 50%;
    margin-top: 20%;
  }
  #headerhr{
    width: 85vw;
    margin-top: 2%;
    margin-left: -1vw;
  }
  .deliverypanel{margin-left: 7%;}
  .submedia{margin-bottom: 7vw;}
  #allorders, #topay{padding-right: 4vw;}
  #deliverydate{padding-right: 5vw;}

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%; }
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  @media screen and (min-width: 320px) {
    .headers{
      font-size: 4vw;
      margin-top: 7%;
    }
    #prodname{
      font-weight: bold;
      padding-top: 2vw;
    }
    .right{
      text-align: center;
      margin-left: -2%;
    }
    .right p, #prodname{
      font-size: 4.5vw;
      margin-bottom: 7%;
    }
    #quant{margin-left: 20vw;}
    #hr1{
      margin-top: 5%;
      width: 33vw;
      margin-left: 3vw;
    }
    .media320{margin-left: 4.5vw;}
  }
  @media screen and (min-width:375px){
    #headerhr{
      width: 87vw;
    }
  }
  @media screen and (min-width:420px){
    #hr1{margin-left: 4vw;}
  }
  @media screen and (max-width: 767px){
    .media768{display: none;}
  }
  @media screen and (min-width:600px){
    #headerhr{width: 89vw;}
  }

  @media screen and (min-width: 768px) {
    .media320{display: none;}
    .media768{
      background-color: transparent;
      margin-bottom: -8vw;
    }
    .deliverypanel{
      margin-left: 3%;
      width: 72%;
      margin-bottom: 10%;
    }
    .header768{margin-top: 3%;}
    .header768, .account p, p, .right768 p, #prodname{font-size: 2vw;}
    .allorder768{
      margin-left: 1%;
      padding-right: 10vw;
    }
    .account{
      text-align: center;
      margin-bottom: 35%;
      margin-left: 2.6vw;
      width: 20%;
    }
    .account p{
      margin-bottom: 0%;
      padding-top: 2vw;
    }
    #img768{
      margin-left: 15%;
      width: 90%;
      height: 90%;
      box-shadow: 4px 4px rgba(202, 195, 195, 0.541);
    }
    #quant{margin-left: 9vw;}
    #prodname, #amount{margin-bottom: 0vw;}
    #total{margin-top: -1vw;}
    #hr1{
      width: 13vw;
      margin-left: 1vw;
    }
    .right768{text-align: center;}
    #toPay, #deliverydate{ padding-right: 11vw;}
    #hr768{
      width: 70vw;
      margin-left: 0vw;
      margin-bottom: 5vw;
      margin-top: 1vw;
    }
    .col-6{
      margin-bottom: 2vw;
    }
  }
  @media screen and (min-width: 1024px) {
    .media768{margin-bottom: -19vw;}
    #hr768{
      /* width: 57vw; */
      margin-bottom: 4vw;
    }
    #hr1{
      width: 15vw;
    }
    .account p, .header768 a, .right768 p, #prodname{
      font-size: 1.3vw;
    }
    .account{
      width: 16.66%;
      margin-left: 8vw;
      margin-bottom: 35%;
    }
    .deliverypanel{
      margin-bottom: 22%;
      margin-left: 8%;
      width: 60%;
    }
    #img768{
      height: 90%;
      width: 80%;
      margin-left: 2.8vw;
    }
    #hr1{
      margin-left: -0.1vw;
      width: 9.3vw;
    }
    #prodname{
      padding-top: 0.5vw;
      margin-bottom: 5%;}
    #quant{
      margin-bottom: 5%;
      margin-left: 7vw;
    }
    .right768{text-align: left;}
    #amount, #total{margin-left: 1vw;}
  }
  @media screen and (min-width:1440px) {
    .account{margin-bottom: 33%;}
    #hr768{width: 58vw;}
  }
  @media screen and (min-width: 2560px) {
    #hr768{
      width: 59vw;
    }
    .allorder768{
      margin-left: 3%;
    }
    #total{margin-top: 0vw;}
  }

