.container {
    background-color: rgb(240, 231, 231);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
}

h4 {
    text-align: center;
    padding-top: 5%;
}

.description {
    margin-left: 18%;
    margin-top: -19%;
    
}