<app-sample-header></app-sample-header>
<div class="col-11 col-s-11 media320">
  <div class="row">
      <div class="nav-wrapper">
        <div class="nav-inner-wrap active-nav">
          <a href="/all-orders">All Orders</a>
        </div>
        <div class="nav-inner-wrap">
          <a id="toPay" href="/pay">To Pay</a>
        </div>
        <div class="nav-inner-wrap">
          <a id="deliverydate" href="/delivery-page">Delivery Date</a>
        </div>
        <div class="nav-inner-wrap">
          <a id="recieved" href="/received">Received</a>
        </div>
      </div>
      <div class="wrapper" style="grid-template-columns: 1fr !important;">
        <div *ngFor="let product of products">
          <div class="col-12 col-s-12 submedia">
            <div class="row">
              <div class="col-6 col-s-6">
                <img id="img320" src="../../../../assets/imgs/dag.jpg" alt="">
              </div>
              <div class="col-6 col-s-6 right">
                <p id="prodname">{{ product.name }}</p>
                <p id ="amount">Php {{ product.price }}</p>
                <p id="quant">2</p>
                <hr id = "hr1">
                <p id="total">Php {{ product.price }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="col-12 col-s-12 media768">
  <div class="row">
    <div class="col-3 col-s-3 account">
      <img class="profileimg" [src]="img" alt="">
      <a><p class="customername">{{ customerName }}</p></a>
      <a routerLink="/edit-account"><p class="editaccount">Edit Account</p></a>
      <a routerLink="/all-orders"><p class="myorders">My Orders</p></a>
      <a routerLink="/addresses"><p class="myorders">Addreses</p></a>
    </div>
    <div class="col-8 col-s-8 deliverypanel">
      <div class="row">
        <div class="nav-wrapper">
          <div class="nav-inner-wrap active-nav">
            <a href="/all-orders">All Orders</a>
          </div>
          <div class="nav-inner-wrap">
            <a id="toPay" href="/pay">To Pay</a>
          </div>
          <div class="nav-inner-wrap">
            <a id="deliverydate" href="/delivery-page">Delivery Date</a>
          </div>
          <div class="nav-inner-wrap">
            <a id="recieved" href="/received">Received</a>
          </div>
        </div>
        <!-- <hr id="hr768"> -->
        <div class="wrapper">
          <div *ngFor="let product of products">
            <div class="row">
              <div class="col-6">
                <img id="img768" src="../../../../assets/imgs/dag.jpg" alt="">
              </div>
              <div class="col-6 col-s-6 right768">
                <p id="prodname">{{ product.name }}</p>
                <p id ="amount">Php {{ product.price }}</p>
                <p id="quant">2</p>
                <hr id="hr1">
                <p id="total">Php {{ product.price }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="hr">
<app-cus-footer></app-cus-footer>
