<div class="container">
    <div class="wrapper">
        <p>Pending-Orders</p>
        <div class="contain">
            <div class="row">
                <div class="col-9">
                    <form name="form" (ngSubmit)="searchProducts()">
                        <div class="form-group row">
                            <button type="submit" class="col-sm-2 btn btn-primary">Search</button>
                            <div class="col-sm-10">
                                <input type="text" class="form-control search" placeholder="Search product name.....">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 mt-5">
                    <div class="table-responsive-lg">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let order of orders">
                                <tr *ngIf="order.products.length > 0 ">
                                    <td>{{ order.customer.firstname }} {{ order.customer.lastname }}</td>
                                    <td>
                                      <ul>
                                        <li *ngFor="let product of order.products">{{ product.name }}</li>
                                      </ul>
                                    </td>
                                    <td>
                                       <ul>
                                        <li *ngFor="let product of order.products">{{ product.price }} </li>
                                      </ul>
                                    </td>
                                    <td>
                                      <ul>
                                        <li *ngFor="let product of order.products">{{ product.pivot.quantity }} </li>
                                      </ul>
                                      </td>
                                    <td>
                                      <ul>
                                        <li *ngFor="let product of order.products">{{product.pivot.subtotal}} </li>
                                      </ul>
                                      </td>
                                    <td>
                                        <button type="button" (click)="confirm(order.id, order.customer.id)" class="btn btn-primary tableBtn">Confirmed</button>
                                        <button type="button" (click)="declined(order.id, order.customer.id)" class="btn btn-danger tableBtn">Declined</button>
                                    </td>
                                </tr>
                                <tr *ngIf="order.products.length == 0 ">
                                  <td>{{ order.customer.firstname }} {{ order.customer.lastname }}</td>
                                  <td > Not set </td>
                                  <td > Not set </td>
                                  <td > Not set </td>
                                  <td > Not set </td>
                                  <td>
                                      <button type="button" (click)="confirm(order.id, order.customer.id)" class="btn btn-primary tableBtn">Confirmed</button>
                                      <button type="button" (click)="declined(order.id, order.customer.id)" class="btn btn-danger tableBtn">Declined</button>
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
