<div class="container con">

    <form name="form" #FormUpdate="ngForm" (ngSubmit)="submit(FormUpdate.value)">
        <div class="row content">
            <div class="col-md-4 form-group">
                <img class="image" [src]="imageSrc" *ngIf="imageSrc; else default" alt="product-image">
                <ng-template #default>
                    <img class="image" src="/assets/imgs/product.jpg" alt="product-image">
                </ng-template>
                <label for="file" class="file-upload">
            <input
            type="file"
            [ngModel]="image"
            name="image"
            class="form-control"
            accept="image/*"
            id="file"
            style="display: none;"
            (change)="onFileChange($event)">
            Select Image
          </label>

            </div>
            <div class="col-md-8 form-group">
                <div *ngIf="errors && errors.name" class="alert alert-danger">
                    *{{ errors.name[0] }}
                </div>
                <input type="text" class="form-control field" name="name" [ngModel]="name" class="form-control" id="" placeholder="Name">
                <div *ngIf="errors && errors.category_id" class="alert alert-danger">
                    *{{ errors.category_id[0] }}
                </div>
                <select name="category_id" [ngModel]="category_id" id="" class="options form-control">
            <option value="" hidden>Category</option>
            <option *ngFor="let category of categories"
    [value]="category.id"
    [attr.selected]="category_id==category.id ? true : null">
  {{category.name}}
</option>
          </select>
                <div class="row">
                    <div class="col">
                        <div *ngIf="errors && errors.price" class="alert alert-danger">
                            *{{ errors.price[0] }}
                        </div>
                        <input type="number" min="0" class="form-control" name="price" [ngModel]="price" id="" placeholder="Price">
                    </div>
                    <div class="col form-group">
                        <div *ngIf="errors && errors.sizes" class="alert alert-danger">
                            *{{ errors.sizes[0] }}
                        </div>

                        <select name="sizes" id="" class="options field form-control" [ngModel]="sizes">
                    <option value="0" hidden>Size</option>
                  <option value="1">M</option>
                  <option value="2">S</option>
                  <option value="3">XL</option>
                  <option value="4">L</option>
                  <option value="5">XXL</option>
                </select>
                        <!-- <input type="text" class="form-control" name="" id="" placeholder="Size"> -->
                    </div>
                    <div class="col">
                        <div *ngIf="errors && errors.unit_measure" class="alert alert-danger">
                            *{{ errors.unit_measure[0] }}
                        </div>
                        <input type="number" min="0" class="form-control" name="unit_measure" id="" [ngModel]="unit_measure" placeholder="Unit">
                    </div>
                </div>
                <button type="submit" class="btn btn-success field add-product">Update Product</button>
                <a routerLink="/admin/products" class="btn btn-success field same">Cancel</a>
            </div>
        </div>
    </form>
</div>
