.checkOutContainer {
    background-color: rgb(240, 231, 231);
    box-sizing: border-box;
    overflow: hidden;
    margin: 2%;
    border-radius: 5px;
    position: relative;
}

.leftInfo {
    float: left;
    margin-left: 5%;
    
}

.rightInfo {
    margin-left: 30%;
    margin-top: 2%;
}

/* .rightButtons {
    float: right;
    margin-top: -4%;
    margin-right: 5%;
} */

h4 {
    text-align: center;
}

.prodName {
    margin-left: 25%; 
    margin-top: 5%;
   
}

.payment {
    float: right;
    margin-right: 5%;
    margin-left: 70%;
}

/* h5  {
    margin-left: 5%;
} */