.media320{
  box-sizing: border-box;
  background-color: #F6F2EF;
  border: none;
  border-radius: 5px;
  font-family: 'Rufina';
  margin-left: 4vw;

}
.logo320{
  width: 100%;
  height: auto;
  margin-top: 6vw;
}
.dagomlogo{
  background-color: #C7988E;
  height: 55vw;
  width: 75vw;
  margin-left: 8vw;
  margin-top: 9vw;
}
.meaning{
  color: #C7988E;
}
