<app-sample-header></app-sample-header>

<div class="col-11 col-s-11 media320">
  <div class="row">
      <div class="col-9 col-s-19 dagomlogo">
        <img class="logo320" src="../../../../assets/imgs/logo1.png" alt="">
      </div>
      <div class="col-12 col-s-12 meaning">
        <p>Dagom</p>
        <p id="dagomtxt1">/da-gom/</p>
        <p id="meaning">Dagom is an online thrift shop that offers brand-new and preloved blouses, dresses, trousers, and other clothing needs.</p>

      </div>
  </div>
</div>



<app-cus-footer></app-cus-footer>
