<app-sample-header></app-sample-header>

<div class="header">
    <h2>Your Orders</h2>
</div>
<div class="col-11 col-s-11 main ">
    <div class="row">
        <div class="col-4 col-s-4 text">
            <h5>Last Name Last Name</h5><br>
            <h5 class="adresstxt">Adress</h5>
        </div>
        <div class="col-4 col-s-4 text ">
            <h5>Contact Number</h5><br>
            <h5 class="paymenttxt">Payment</h5>
        </div>
        <div class="col-4 col-s-4 mbtn">
            <button id="buttonA" class="button">Manage Address</button><br><br>
            <button id="buttonP" class="button ">Manage Payment</button>
        </div>
        <hr id="checkouthr">
        <div class="col-3 col-s-3">
            <h5>Product</h5><br>
            <img src="../../../../assets/imgs/image1.jpg" alt="">
        </div>
        <div class="col-3 col-s-3">
            <h5>Product Name</h5>
            <button class="buttonR">Remove</button>
        </div>
    </div>
</div>
<div class="col-11 col-s-11 checkoutTablet">
    <div class="row">
        <div class="col-2 col-s-2">
            <h6 id="product">Product</h6>
        </div>
        <div class="col-8 col-s-8 price"></div>
        <div class="col-2 col-s-2 price">
            <h6 id="price">Price</h6>
        </div>
        <hr id="hr1">
        <div class="col-3 col-s-3">
            <img id="imgtablet" src="../../../../assets/imgs/image1.jpg" alt="">
        </div>


    </div>

</div>

<app-cus-footer></app-cus-footer>
