<app-sample-header></app-sample-header>
<div class="container">
    <div class="floatCenter">
        <div>
            <img class="ml-5 mt-5 mb-5" style="width:25%; height: 30%;" src="../../../../assets/imgs/image1.jpg" alt="">
        </div>
        <div class="description">
            <h4>Product Name</h4>
            <h6>Php 100.00</h6>
            <h6>Quantity: 2</h6>
            <h6>Size: M S</h6>
            <h6>Available: 10 pcs</h6>
    
            <button type="button" class="btn w-50 mt-3 mb-3 " >Add to Cart</button>
            <br>
            <button type="button" class="btn w-50">Buy It Now</button>
        </div>
    </div> 
</div>
<button  type="button" class="btn w-25 mb-5 bg-light" style="margin-left: 35%;">Back</button>
<app-cus-footer></app-cus-footer>