<div class="container con">
    <form name="form" #FormUpdate="ngForm" (ngSubmit)="submit(FormUpdate.value)">
        <div class="row">
            <div class="col-md-4 form-group">
                <img class="image" [src]="imageSrc" *ngIf="imageSrc; else default" alt="product-image">
                <ng-template #default>
                    <img class="image" src="/assets/imgs/product.jpg" alt="product-image">
                </ng-template>
                <label for="file" class="file-upload">
      <input
      type="file"
      [ngModel]="image"
      name="image"
      class="form-control"
      accept="image/*"
      id="file"
      style="display: none;"
      (change)="onFileChange($event)">
      Select Image
    </label>

            </div>
            <div class="col-md-8">
                <input type="hidden" name="id" [ngModel]="id">
                <input type="text" class="form-control field" [ngModel]="firstname" name="firstname" id="" placeholder="First Name">
                <input type="text" class="form-control field" [ngModel]="lastname" name="lastname" id="" placeholder="Last Name">
                <input type="text" class="form-control field" [ngModel]="contact_number" name="contact_number" id="" placeholder="Phone Number">
                <input type="text" class="form-control field" [ngModel]="email" name="email" id="" placeholder="Email Address">
                <input type="text" class="form-control field" [ngModel]="address" name="address" id="" placeholder="Address">
                <button type="submit" class="btn btn-success add-product">Edit</button>
            </div>
        </div>
    </form>
</div>
