.title{
    text-align: center;
    font-size: 22px;
    font-family: 'FontAwesome';
    font-weight: 600;
    margin-top: 15px;
}

.Unathorized{
  text-align: center;
}

hr {
    background-color: white;
}

.container{
  max-width: 1000px;
}


.container{
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin: auto;
  width: 20em;
  margin-top: 2em;
}


.card{
  box-shadow: 6px 6px 7px dimgrey;
}


.paginator{
  text-align: center;
  margin-top: 70px;
}
