
.media320, .media768{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #F6F2EF;
    margin-left: 4%;
    margin-bottom: 10%;
    font-family: 'Roboto';
  }
  .submedia320{
    font-size: 14px;
    margin-top: 7%;
    text-align: center;
  }
  hr{
    width: 94%;
    margin-left: -1%;
    background-color: #C7988E;
    margin-top: 3%;
  }
  #img320, #img768{
    width: 100%;
    height: 100%;
  }
  a{
    color: #C7988E;
    text-decoration: none;
    padding: 3px;
  }

  p{
    color:  #C7988E;
    margin-bottom: 0rem;
    text-align: center;
  }
  #prodname{
    font-weight: bold;
  }
  #hr1{
    margin-bottom: 4%;
  }
  #quant{
    margin-left: 60%;
  }
  .delivery320 p{
      font-size: 14px;
  }
  .delivery320{
      margin-top: 4%;
      margin-bottom: 12%;
      margin-left: 5%;
  }
  .div2{
      margin-top: 5%;
  }
  .account{
    background-color: #F6F2EF;
    border-radius: 5px;
    align-content: center;
  }
  .deliverypanel{
    background-color: #F6F2EF;
    margin-left: 3%;
    border-radius: 5px;
  }
  .profileimg{
    width: 60%;
    height: 30%;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 20%;
  }
  .text{
    margin-bottom: 15%;
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  @media screen and (min-width: 320px) and (max-width: 767px){
    .media768{display: none;}
  }
  @media screen and (min-width: 322px){
    .submedia320{
      text-align: center;
    }
  }

  @media screen and (min-width: 331px){
    .submedia320{font-size: 14px;}
    /* .media768{
      display: none;
    } */
  }
  @media screen and (min-width: 345px) and (max-width: 374px){
    #quant{
      margin-left: 54%;
    }
  }
  @media screen and (min-width: 375px){
    .submedia320{
      font-size: 17px;
    }
    /* .media768{
      display: none;
    } */
    #amount, #total{
      margin-left: 10%;
    }
  }

  @media screen and (min-width: 425px){
    p{
      font-size: 18px;
    }
    a{
      padding: 8px;
    }
    .delivery320 p{
      font-size: 15px;
    }
  }

  @media screen and (min-width: 433px){
    a{
      font-size: 18px;
    }
    #prodname{
      font-size: 19px;
    }
    #amount, #total{
      margin-left: 22%;
    }
    #quant{
      margin-left: 65%;
    }
  }
  @media screen and (max-width: 767px){
    .media768{display: none;}
  }
  @media screen and (min-width: 768px){
    .media320, #img320{
      display: none;
    }
    .media768{
      background-color: transparent;
      margin-top: 5%;
      margin-left: 3%;
    }
    .text, .deliverypanel p, #prodname{
      font-size: 13px;
    }
    .deliverypanel a{
      padding: 36px;
      margin-top: 5%;
      color: #C7988E;
      text-decoration: none;
      padding-left: 32px;
      font-size: 13px;

    }
    .header768{
      margin-top: 5%;
    }
    #hr768{
      width: 106%;
      margin-left: -3%;
    }
    .right768 p{text-align: center;}
    .allorder768{margin-left: -15px;}
    #img768{margin-left: 27%;}
    .headertxt768{
      font-weight: bold;
      margin-bottom: 4%;
      font-size: 14px;
    }
    .prodheader{
      float: left;
      margin-left: 11%;
    }
    .delheader{
      text-align: center;
      margin-left: -8%;
    }
    .amountheader{
      text-align: center;
      margin-left: -26%;
    }
    #amount, #total{margin-left: 0;}
    #quant{margin-left: 53%;}
    .total{
      margin-left: -24%;
      margin-top: 17%;
    }
    .content{margin-bottom: 5%;}
    .account{margin-bottom: 19%;}
    .account p{
      font-size: 15px;
    }
    .account a{
      text-decoration: none;
      color: #C7988E;
      text-align: center;
    }
  }
   @media screen and (min-width:1024px){
    .deliverypanel a{
      font-size: 18px;
      padding: 55px;
      padding-left: 35px;
    }
    .account p{
      font-size: 18px;
    }
    #img768{
      width: 95%;
      margin-left: 25%;
    }
    .text, .deliverypanel p, #prodname{
      font-size: 17px;
    }
    #hr1{width: 80%; margin-left: 10%;}
   }
