<app-sample-header></app-sample-header>
<div class="col-11 col-s-11 media320">
  <div class="row">
    <div class="col-12 col-s-12 submedia320">
      <a id="allorders" href="#" style="margin-left: -1%;">All Orders</a>
      <a href="#">To Pay</a>
      <a href="#">Delivery Date</a>
      <a href="#">Received</a>
    </div>
    <hr>
    <div class="col-6 col-s-6">
      <img id="img320" src="../../../../assets/imgs/dag.jpg" alt="">
    </div>
    <div class="col-6 col-s-6 right">
      <p id="prodname">Product Name</p>
      <p id="amount">Php 100.00</p>
      <p id="quant">2</p>
      <hr id = "hr1">
      <p id="total" >Php 200.00</p>
    </div>
    <div class="col-12 col-s-12 delivery320">
      <p style="margin-left: -2%;">Delivery Date: December 25 2021</p>
      <p style="text-align: left; margin-left: 10%;">Prepare Amount: Php 270.00</p>
    </div>
      <div class="col-6 col-s-6">
        <img id="img320" src="../../../../assets/imgs/dag.jpg" alt="">
      </div>
      <div class="col-6 col-s-6 right">
        <p id="prodname">Product Name</p>
        <p id ="amount">Php 100.00</p>
        <p id="quant">2</p>
        <hr id = "hr1">
        <p id="total">Php 200.00</p>
      </div>
      <div class="col-12 col-s-12 delivery320">
        <p style="margin-left: -2%;">Delivery Date: December 25 2021</p>
        <p style="text-align: left; margin-left: 10%;">Prepare Amount: Php 270.00</p>
      </div>
    </div>
</div>


<div class="col-12 col-s-12 media768">
  <div class="row">
    <div class="col-3 col-s-3 account">
      <img class="profileimg" src="../../../../assets/imgs/profile.jpg" alt="">
      <a href="#"><p>Customer Name</p></a>
      <a href=""><p>Edit Account</p></a>
      <a href=""><p>My Orders</p></a>
    </div>
    <div class="col-8 col-s-8 deliverypanel">
      <div class="row">
        <div class="col-12 col-s-12 header768">
          <a class="allorder768" href="#">All Orders</a>
          <a id="toPay" href="#">To Pay</a>
          <a href="#">Delivery Date</a>
          <a href="#">Received</a>
        </div>
        <div class="col-12 col-s-12">
          <hr id="hr768">
        </div>
        <div class="col-4 col-s-4 headertxt768"><p class="prodheader">Product</p></div>
        <div class="col-1 col-s-1"></div>
        <div class="col-4 col-s-4 headertxt768"><p class="delheader">Delivery Date</p></div>
        <div class="col-3 col-s-3 headertxt768"><p class="amountheader">Prepare Amount</p></div>
        <div class="col-12 col-s-12 content">
          <div class="row">
            <div class="col-2 col-s-2">
              <img id="img768" src="../../../../assets/imgs/dag.jpg" alt="">
            </div>
            <div class="col-3 col-s-3 right768">
              <p id="prodname">Product Name</p>
              <p id ="amount">Php 100.00</p>
              <p id="quant">2</p>
              <p id="total">Php 200.00</p>
            </div>
            <div class="col-4 col-s-4">
                <p style="margin-top: 8%;">December 1, 2021-</p>
                <p>December 14, 2021</p>
            </div>
            <div class="col-3 col-s-3">
              <p class="total">Php 270.00</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-s-12 content">
          <div class="row">
            <div class="col-2 col-s-2">
              <img id="img768" src="../../../../assets/imgs/dag.jpg" alt="">
            </div>
            <div class="col-3 col-s-3 right768">
              <p id="prodname">Product Name</p>
              <p id ="amount">Php 100.00</p>
              <p id="quant">2</p>
              <p id="total">Php 200.00</p>
            </div>
            <div class="col-4 col-s-4">
                <p style="margin-top: 8%;">December 1, 2021-</p>
                <p>December 14, 2021</p>
            </div>
            <div class="col-3 col-s-3">
              <p class="total">Php 270.00</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-s-12 content">
          <div class="row">
            <div class="col-2 col-s-2">
              <img id="img768" src="../../../../assets/imgs/dag.jpg" alt="">
            </div>
            <div class="col-3 col-s-3 right768">
              <p id="prodname">Product Name</p>
              <p id ="amount">Php 100.00</p>
              <p id="quant">2</p>
              <p id="total">Php 200.00</p>
            </div>
            <div class="col-4 col-s-4">
                <p style="margin-top: 8%;">December 1, 2021-</p>
                <p>December 14, 2021</p>
            </div>
            <div class="col-3 col-s-3">
              <p class="total">Php 270.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-cus-footer></app-cus-footer>
