<app-sample-header></app-sample-header>
<div class="col-11 col-s-11 media320">
  <div class="row">
    <div class="col-12 col-s-12 submedia320">
      <a id="allorders" href="#" style="margin-left: -1%;">All Orders</a> 
      <a href="#">To Pay</a> 
      <a href="#">Delivery Date</a> 
      <a href="#">Received</a>
    </div>
    <hr>
    <div class="col-6 col-s-6">
      <img id="img320" src="../../../../assets/imgs/image1.jpg" alt="">
    </div>
    <div class="col-6 col-s-6 right">
      <p id="prodname">Product Name</p>
      <p id="amount">Php 100.00</p>
      <p id="quant">2</p>
      <hr id = "hr1">
      <p id="total" >Php 200.00</p>
    </div>
    <div class="col-12 col-s-12 delivery320">
      <p style="margin-left: 12%;">Delivery Date: December 25 2021</p>
      <p style="text-align: left; margin-left: 10%;">Prepare Amount: Php 270.00</p>
    </div>
      <div class="col-6 col-s-6">
        <img id="img320" src="../../../../assets/imgs/image1.jpg" alt="">
      </div>
      <div class="col-6 col-s-6 right">
        <p id="prodname">Product Name</p>
        <p>Php 100.00</p>
        <p id="quant">2</p>
        <hr id = "hr1">
        <p>Php 200.00</p>
      </div>
      <div class="col-12 col-s-12 delivery320">
        <p style="margin-left: 12%;">Delivery Date: December 25 2021</p>
        <p style="text-align: left; margin-left: 10%;">Prepare Amount: Php 270.00</p>
      </div>
    </div>
</div>
<app-cus-footer></app-cus-footer>
