.container-fluid {
    background-color: #C7988E;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    position: relative;
    margin-top: 5%;
}

.custom-control-label::before, 
.custom-control-label::after {
    top: .8rem;
    width: 1.25rem;
    height: 1.25rem;
}

.rightButtons {
    float: right;
    margin-left: 60%;
}

.container {
    background-color: rgb(240, 231, 231);
    overflow: hidden;
    box-sizing: border-box;
    color: black;
    border-radius: 2%;
    margin-bottom: 5%;
    justify-self: center;
}       

@media (min-width: 576px) {

  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  
   }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 1024px) {
   
  }
  
  /* // X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  
   }
  
  /* // XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
      
   }