<app-sample-header></app-sample-header>
<div class="container-fluid">
  <h3 class="text-center"><b>Your Cart</b></h3>
  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr class="justify-content-center">
            <th scope="col"><h4>Select All</h4></th>
            <th scope="col"><h4>Product</h4></th>
            <th scope="col"></th>
            <th scope="col"><h4>Size</h4></th>
            <th scope="col"><h4>Price</h4></th>
            <th scope="col"><h4>Quantity</h4></th>
            <th scope="col"><h4>Total</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <img style="width:150px; height:150px;" src="../../../../assets/imgs/image1.jpg" alt="">
            </td>
            <td>
              <h5>Product Name</h5>
              <button type="button" class="btn btn-primary">Remove</button>
            </td>
            <td>
              <h5>S</h5>
            </td>
            <td>
              <h5>Php 100</h5>
            </td>
            <td>
              <h5>3</h5>
            </td>
            <td>
              <h5>Php 300</h5>
            </td>
          </tr>
          <tr>
           <th scope="row">1</th>
            <td>
              <img style="width:150px; height:150px;" src="../../../../assets/imgs/image1.jpg" alt="">
            </td>
            <td>
              <h5>Product Name</h5>
              <button type="button" class="btn btn-primary">Remove</button>
            </td>
            <td>
              <h5>S</h5>
            </td>
            <td>
              <h5>Php 100</h5>
            </td>
            <td>
              <h5>3</h5>
            </td>
            <td>
              <h5>Php 300</h5>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>
              <img style="width:150px; height:150px;" src="../../../../assets/imgs/image1.jpg" alt="">
            </td>
            <td>
              <h5>Product Name</h5>
              <button type="button" class="btn btn-primary">Remove</button>
            </td>
            <td>
              <h5>S</h5>
            </td>
            <td>
              <h5>Php 100</h5>
            </td>
            <td>
              <button class="btn" style="background-color:transparent;">
                <i class="fa fa-minus"></i> 
             </button>
             <h5>3</h5>
             <button class="btn" style="background-color:transparent;">
              <i class="fa fa-plus"></i> 
           </button>
            </td>
            <td>
              <h5>Php 300</h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div> 
    <hr>
    <div style="float: right;">
      <h5>Subtotal: Php 600</h5>
    </div>
    <div class="rightButtons d-flex">
      <button type="button" class="btn btn-primary m-3">Continue Shopping</button>
      <button type="button" class="btn btn-primary m-3">Update</button>
      <button type="button" class="btn btn-success m-3">Checkout</button>
    </div>

  </div>

</div>
<app-cus-footer></app-cus-footer>
