<div class="container">
    <div class="wrapper">
        <p>Products</p>
        <!-- <div *ngIf="error">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ error }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
        </div> -->
        <div class="contain">
            <div class="row">
                <div class="col-9">
                    <form name="form" [formGroup]="form" (ngSubmit)="searchProducts()">
                        <div class="form-group row">
                            <button type="submit" class="col-sm-2 btn btn-primary">Search</button>
                            <div class="col-sm-10">
                                <input type="text" class="form-control search" formControlName="data" name="data" placeholder="Search product name.....">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary add" routerLink="/admin/add-product">Add</a>
                </div>
                <div class="col-12 mt-5">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Total Quantity</th>
                                        <th scope="col">Available No. of Stock</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="products">
                                    <!-- <tr *ngFor="let product of products |paginate : {
                                      itemsPerPage : 10,
                                      currentPage : page
                                    }"> -->
                                    <tr *ngFor="let product of products">
                                        <div class="thumb">
                                            <th><img src="{{ path+product.image }}" alt=""></th>
                                        </div>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.category.name }}</td>
                                        <td>{{ product.price }}</td>
                                        <td *ngIf="product.sizes[0]">{{ product.sizes[0].pivot.unit_measure }}</td>
                                        <td *ngIf="product.sizes[0]">{{ product.sizes[0].pivot.avail_unit_measure }}</td>
                                        <td *ngIf="!product.sizes[0]">0</td>
                                        <td *ngIf="!product.sizes[0]">0</td>
                                        <td>
                                            <button type="button" (click)="addToSale(product)" class="btn btn-primary actionBtn"><i class="fas fa-plus-circle"></i></button>
                                            <button type="button" (click)="update(product)" class="btn btn-success actionBtn"><i class="fas fa-edit"></i></button>
                                            <button type="button" (click)="confirmDelete(product)" class="btn btn-danger actionBtn"><i class="far fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="Unathorized" *ngIf="!products">
                            <img src="https://financialadvisors.com/media/no-images/nodata-found.png" alt="" class="responsive-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="d-flex justify-content-end">
            <pagination-controls maxSixe="5" (pageChange)="page = $event"></pagination-controls>
        </div> -->
    </div>
</div>