<div class="container">
    <div class="wrapper">
        <p>Products</p>
        <div class="contain">
            <div class="row">
                <div class="col-9">
                    <form name="form" [formGroup]="form" (ngSubmit)="searchProducts()">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control search" formControlName="data" [(ngModel)]="filterTerm" name="data" placeholder="Search product name.....">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary add" routerLink="/admin/add-product">Add</a>
                </div>
                <div class="col-12 mt-5">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Total Quantity</th>
                                        <th scope="col">Available No. of Stock</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="products">
                                    <tr *ngFor="let product of products | filter:filterTerm | paginate : {
                                      itemsPerPage: 5, currentPage: cp } ">
                                        <div class="thumb">
                                            <th><img src="{{ product.image}}" alt=""></th>
                                        </div>
                                        <td>{{ product.name }}</td>
                                        <td *ngIf="product.category">{{ product.category.name }}</td>
                                        <td *ngIf="!product.category">No Category</td>
                                        <td>{{ product.price }}</td>
                                        <td *ngIf="product.sizes[0]">{{ product.over_all_total }}</td>
                                        <td *ngIf="product.sizes[0]"> {{ product.total_avail_unit_measure }}</td>
                                        <td *ngIf="!product.sizes[0]">0</td>
                                        <td *ngIf="!product.sizes[0]">0</td>
                                        <td *ngIf="product.total_avail_unit_measure > 0">
                                            <button type="button" (click)="openModal(product)" class="btn btn-primary actionBtn" title="Add to Sale"><i class="fas fa-plus-circle"></i></button>
                                            <button type="button" (click)="update(product)" class="btn btn-success actionBtn" title="Edit"><i class="fas fa-edit"></i></button>
                                            <button type="button" (click)="confirmDelete(product)" class="btn btn-danger actionBtn" title="Delete"><i class="far fa-trash-alt"></i></button>
                                        </td>
                                        <td *ngIf="product.total_avail_unit_measure == 0" class="soldOut">
                                            Sold Out
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="Unathorized" *ngIf="products.length == 0">
                            <img src="https://financialadvisors.com/media/no-images/nodata-found.png" alt="" class="responsive-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="products.length > 5">
      <pagination-controls (pageChange)="cp = $event"></pagination-controls>
    </div>
</div>


<!-- Preview Modal -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ productName }}</h5>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="title"><p>Select product sizes to add in sales</p></div>
            <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" class="thead">
                  <input type="checkbox" name="" (click)="selectAll(stockSizes)" id="selectAll">
                </th>
                <th scope="col" class="thead">Product Size</th>
                <th scope="col" class="thead">Product Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let size of stockSizes">
                <td><input type="checkbox" (click)="selected(size)" class="selectId"></td>
                <td>{{ size.size }}</td>
                <td>
                  <input type="number" name="" class="modalInput" id="{{ size.id }}" value="{{ size.pivot.avail_unit_measure }}" min="1" max="{{ size.pivot.avail_unit_measure }}" disabled>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col">
              <button class="btn btn-success confirm" (click)="addToSale(product)">Add To Sale</button>
            </div>
          </div>
        </div>
    </div>
</div>
