.container {
    padding: 2rem 0rem;
}

h4 {
    margin: 2rem 0rem 1rem;
}

td,
th {
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
}

.actionBtn {
    margin-left: 5px;
}

p {
    text-align: center;
    font-size: 23px;
}

#search {
    width: 320px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 10px;
}

.btn-primary {
    background: #C7988E!important;
    border-color: #C7988E!important;
}

.btn-primary:hover {
    background-color: darkolivegreen!important;
    border-color: darkolivegreen!important;
}

.add {
    width: 100px;
}

.search {
    margin-left: -10px;
    width: 280px;
}

div.thumb img {
    width: 5.2em;
    height: 8.2em;
    object-fit: cover;
}

.soldOut{
  color: red;
  font-weight: 700;
}



.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
}

.modal-dialog{
  max-width: 30%;
}

.modal-content{
  padding: 15px;
}


td,
th {
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
}


.title p{
  font-size: 18px;
}

.thead{
  font-weight: 600;
}
