.leftDiv {
    float: left;
    position: absolute;
    background-color: rgb(240, 231, 231);
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    margin-top: 5%;
    width: 16%;
    text-align: center;
}

h4 {
   text-align: center;
   color: #C7988E; 
}

.rightDiv {
    float: right;
    background-color: rgb(240, 231, 231);
    overflow: hidden;
    border-radius: 10px;
    width: 70%;
    margin-top: 5%;
    margin-right: 5%;
    
}

@media only screen and (max-width: 600px){
    .leftDiv {
        margin-left: 30%;
        width: 40%;
    }
    .rightDiv {
        margin-top: 80%;
        margin-left: 15%;
        margin-right: 15%;
    }
    h4 {
        font-size: 40px;
    }
}