.media320, .media768 {
    background-color: #F6F2EF;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: bold;
}

.test{
  overflow-y: auto;
  max-height: 500px;
}

.responsImage{
  width: 100%;
}
.Unathorized{
  text-align: center;
}

.cancelBtn{
  margin-left: 0px !important;
}

hr{
  height: 0.2vw;
  border: none;
  background-color: #C7988E;
}
.hr{background-color: #F6F2EF;}
p{
  color: #C7988E;
  margin-bottom: 1vw;
}
.headertxt{
  color: #F6F2EF;
  text-align: center;
  font-size: 5vw;
}
.img320 {
  /* height: 100%; */
  width: 100%;
  box-shadow: 4px 4px rgba(202, 195, 195, 0.541);
}
.custom-control{
  z-index: 0 !important;
}
.pageheader{color: #C7988E;}
.removebtn, .input, .btn{
  box-sizing: border-box;
  border: none;
  color: #F6F2EF;
  background-color: #C7988E;
  border-radius: 5px;
}
.input {
  font-size: 4vw;
  width: 41%;
  margin-left: 8%;
  height: 15%;
  border-radius: 3px;
  padding: 1vw;
}
.content{margin-bottom: 8vw;}
.hr2{
  width: 84.5vw;
  margin-left: -1vw;
  background-color: #C7988E;
  border: none;
}
.buttons{text-align: center;}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media screen and (min-width:320px) {
  .media320{
    margin-left: 4vw;
  }
  #price{float: right;}
  #headerhr{
    width: 84vw;
    margin-top: 2%;
    margin-left: -1vw;
    background-color: #C7988E;
  }
  p,.removebtn, .quantity, #cancel, #placeorder, .cash{font-size: 4vw;}
  .productname{
    font-size: 4vw;
    margin-left: -4vw;
    margin-top: 5%;
  }
  #product, #price{
    font-size: 4.4vw;
    /* margin-top: -3vw; */
    margin-bottom: 1vw;
  }
  .quantity{
    color: #C7988E;
    margin-left: -2vw;
    margin-bottom: 2vw;
  }
  #total{
    margin-left: -9vw;
    margin-bottom: 5vw;
  }
  .amount{
    margin-top: 5%;
    margin-left: 3vw;
  }
  #cancel, #placeorder{
    width: 50vw;
    padding: 2vw;
    margin-bottom: 4vw;
    border-radius: 8px;
  }
  #subtotal{margin-bottom: 1vw;}
  #shippingfee{
    margin-right: 10vw;
    margin-bottom: 1vw;
  }
  #alltotal{margin-left: 14vw;}
  .buttons{margin-bottom: 5vw;}
  .removebtn{margin-left: -4vw;}
  .data{
    font-weight: 400;
    margin-left: 2vw;
  }
  .cash{
    font-weight: 400;
    margin-left: 3vw;
  }

}
@media screen and (min-width: 375px) {
  #headerhr{width: 85vw;}
  .hr2{width: 85.5vw;}
}
@media screen and (min-width: 425px){
  #headerhr{width: 86vw;}
  .hr2{width: 86.5vw;}
}
@media screen and (min-width: 500px){
  #headerhr, .hr2{width: 87vw;}
}
@media screen and (min-width: 600px){
  #headerhr, .hr2{width: 88vw;}
}
@media screen and (min-width: 700px){
  #headerhr, .hr2{width: 89vw;}
}
@media screen and (max-width: 767px){
  .media768{display: none;}
}
@media screen and (min-width:768px){
  .media320{display: none;}
  .media768{margin-left: 4vw;}
  .img768{
    width: 85%;
    height: 90%;
    margin-left: 2vw;
    box-shadow: 4px 4px rgba(202, 195, 195, 0.541);
  }
  p,.removebtn, .quantity, #cancel, #placeorder, .productname, #price, .input, #product{
    font-size: 2vw;
    font-weight: 400;
  }
  .headertxt{
    font-family: 'Philosopher';
    font-size: 3vw;
  }
  .head{margin-top: 3vw;}

  .side{margin-left: 3vw;}
  #headerid{
    width: 88.6vw;
    margin-left: -0.4vw;
    margin-top: 1vw;
    background-color: #C7988E;
  }
  .hr2{
    width: 91.7vw;
    margin-left: -1.9vw;
  }
  .product, .headerprice, #headerquantity, #headertotal, .productname, .buttons p{font-weight: bold;}
  .product{margin-left: 2vw;}
  .productname{
    margin-left: 1vw;
  }
  #product, #total{margin-top: 3vw;}
  .removebtn{
    margin-left: 1vw;
    width: 13vw;
  }
  #total{margin-left: 0vw;}
  .input{
    width: 7vw;
    margin-left: 0.4vw;
    padding: 1.5vw;
    margin-top: 3vw;
  }
  .buttons{text-align: right;}
  #headertotal{margin-left: 2vw;}
  #cancel, #placeorder{
    width: 20vw;
    padding: 0.5vw;
    border-radius: 5px;
  }
  #placeorder{margin-left: -1vw;}
  #cancel{margin-left: -3vw;}
  .prodside{margin-top: 1.5vw;}
  .headers{margin-top: 1vw;}
  .label{
    font-weight: bold;
  }
  .cash{
    font-weight: 400;
    font-size: 2vw;
    color: #C7988E;
    margin-left: 3vw;
  }
  .mngbtn{
    border: none;
    background-color: #C7988E;
    box-sizing: border-box;
    font-size: 2vw;
    width: 20vw;
    padding: 0.5vw;
    border-radius: 5px;
    margin-left: 22vw;
    color: #F6F2EF;
  }
  .info{
    margin-left: 3vw;
    margin-top: 3vw;
  }
}
@media screen and (min-width:1024px){
  p,.removebtn, .quantity, #cancel, #placeorder, .productname, #price, .input, #product, .mngbtn, .cash{font-size: 1.3vw;}
  .headertxt{font-size: 2vw;}

  .productname{margin-left: 2vw;}
  .removebtn{
    margin-left: 2vw;
    width: 8vw;
  }
  .input{
    width: 4.5vw;
    padding: 1vw;
    float: right;
  }
  #headertotal{
    text-align: center;
    margin-left: 0vw;
  }
  #total{
    margin-left: 0vw;
    text-align: center;
  }
  #headerquantity, .headerprice, #product{float: right;}
  .side{margin-left: 5vw;}
  .img768, .product{margin-left: 3vw;}
  #cancel, #placeorder{width: 17vw;}
  #placeorder{margin-left: 3vw;}
  #cancel{margin-left: 7vw;}
  .hr2{
    width: 91.8vw;
    margin-left: -1.6vw;
  }
  .mngbtn{
    width: 14vw;
    margin-left: 28vw;
  }
}
@media screen and (min-width: 1440px){
  #headerid{
    width: 90vw;
    margin-left: -0.2vw;
  }
  .hr2{
    width: 91.7vw;
    margin-left: -1.1vw;
  }
  #cancel, #placeorder{
    border-radius: 8px;
  }
}
@media screen and (min-width:2560px){
  #headerid{width: 91vw;}
  .hr2{width: 92.3vw;}
}
