<app-sample-header></app-sample-header>
<div class="col-11 col-s-11 media768">
  <div class="row">
    <div class="col-3 col-s-3" style="background-color: antiquewhite;">
        <img src="../../../../assets/imgs/image1.jpg" alt="">
        <h5></h5>
    </div>

    <div class="col-8 col-s-8 " style="background-color: brown;"></div>
  </div>
</div>
<!-- <div class="container">
    <div class="row" style="background-color:aqua ;">
        <div class="leftImage">
          <img src="../../../../assets/imgs/image1.jpg" alt="">
        </div>

        <h4 class="mb-5">Customer Name</h4>
        <a href="">
          <h4>Edit Account</h4>
        </a>
        <a href="">
          <h4 class="mb-3">My Orders</h4>
        </a>
        <div class="rightDiv" style="background-color: aquamarine;">
          <div class="row">
              <div class="col-3 mt-2">
                  <h4>All Orders</h4>
              </div>
              <div class="col-3 mt-2">
                  <h4>To Pay</h4>
              </div>
              <div class="col-3 mt-2">
                  <h4>Delivery Date</h4>
              </div>
              <div class="col-3 mt-2">
                  <h4>Received</h4>
              </div>
          </div>
          <hr>
      </div>
    </div>


</div>
<app-cus-footer></app-cus-footer> -->
