<router-outlet></router-outlet>
<!-- <app-header></app-header> -->
<!-- <app-auth-header></app-auth-header> -->
<!-- <app-guest-header></app-guest-header> -->
<!-- <app-register></app-register> -->
<!-- <app-cus-footer></app-cus-footer> -->
<!-- <app-login></app-login> -->
<!-- <app-cart-page></app-cart-page> -->
<!-- <app-landing></app-landing> -->
<!-- <app-product-select></app-product-select> -->
<!-- <app-my-order-page></app-my-order-page> -->
<!-- <app-edit-account></app-edit-account> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-all-orders></app-all-orders> -->
<!-- <app-check-out></app-check-out> -->
<!-- <app-to-pay></app-to-pay> -->
<!-- <app-received></app-received> -->
<!-- <app-sample-header></app-sample-header> -->
