<!-- <router-outlet></router-outlet> -->
<!-- <app-navigation></app-navigation> -->
<!-- <app-pending-orders></app-pending-orders> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-orders></app-orders> -->
<!-- <app-products></app-products> -->
<!-- <app-table></app-table> -->
<!-- <app-header></app-header> -->
<!-- <app-auth-header></app-auth-header> -->
<!-- <app-guest-header></app-guest-header> -->
<!-- <app-register></app-register> -->
<!-- <app-cus-footer></app-cus-footer> -->
<!-- <app-login></app-login> -->
<!-- <app-cart-page></app-cart-page> -->
<!-- <app-landing></app-landing> -->
<!-- <app-product-select></app-product-select> -->
<!-- <app-my-order-page></app-my-order-page> -->
<!-- <app-delivery-page></app-delivery-page> -->
<!-- <app-edit-account></app-edit-account> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-all-orders></app-all-orders> -->
<!-- <app-check-out></app-check-out> -->
<!-- <app-to-pay></app-to-pay> -->
<app-received></app-received>
<!-- <app-search-result></app-search-result> -->
<!-- <app-show-profile></app-show-profile> -->

