.container{
  position: relative;
  max-width: 1000px;
}

h2{
  text-align: center;
}

.content{
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 25px;
  width: 100%;
  transform: translate(-50%, 50%);
}

.reset{
  margin-left: 10px;
}
