<div class="backdrop"></div>
<!--
<div class="container">
  <div class="card">
      <h3>Verify Password</h3>
      <br>
      <form [formGroup]="verificationCode" (ngSubmit)="resetPassword()">
      <div class="alert alert-danger" role="alert" *ngIf="error">
        *{{ error }}
      </div>
      <div class="alert alert-success" role="success" *ngIf="success">
        *{{ success }}
      </div>
      <input class="input" type="text" name="code" formControlName="code" placeholder="Enter Verification Code">
      <br>
      <br>
      <div class="container">
          <button class="button" (click)="return()">Cancel</button>
          <button type="submit" class="button">Submit</button>
      </div>
      </form>
      <p>Did not receive any email from us? <a (click)="sendAgain()">Send code</a></p>
  </div>
</div> -->

<div class="container">
  <form [formGroup]="verificationCode" (ngSubmit)="resetPassword()">
  <div class="card text-center">
    <div class="card-header">
      <h4>Reset Password</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Please Enter Verification Code Here</h5>
        <div class="alert alert-danger" role="alert" *ngIf="error">
          *{{ error }}
        </div>
        <div class="alert alert-success" role="success" *ngIf="success">
          *{{ success }}
        </div>
        <p class="card-text">If you don't received any email from us,
          <br>
          <a class="sendAgain"(click)="sendAgain()">Send Again</a>
        </p>
      <input class="input" type="text" name="code" formControlName="code" placeholder="Enter Verification Code">
    </div>
    <div class="card-footer text-muted">
      <button class="btn btn-primary" type="submit">Submit</button>
      <br>
      <button class="btn btn-primary" (click)="return()">Cancel</button>
    </div>
  </div>
</form>
</div>

