<div class="container-fluid">
  <div class="mb-5">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div id="card1" class="card border-0 text-center" >
          <img
            class="logo"
            src="../../../../../assets/imgs/logo1.png"
            alt=""
          />
          <div class="card-body">
              <p class="card-text text-white text-left pl-5 pr-3 h6" style="font-family: 'Rufina';">
                Dagom is an online thrift shop that offers brand-new and preloved
                blouses, dresses, trousers, and other clothing needs.
              </p>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg bg-white mb-5">About Us</button>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div id="card2" class="card p-5 pb-5" >
          <div class="form">
            <div class="register">
              <h1 class="text-center"><b>Register</b></h1>
              <br>
              <br>
              <form>
                <div class="row">
                  <div class="form-group col-sm-6 ">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control form-control"
                        id="firstName"
                        aria-describedby="firstName"
                        placeholder="First Name"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-6 ">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control form-control"
                        id="firstName"
                        aria-describedby="lastname"
                        placeholder="Last Name"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="input-group">
                      <input
                        type="contact"
                        class="form-control form-control"
                        id="contactNumber"
                        placeholder="Contact Number"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="input-group">
                      <input
                        type="email"
                        class="form-control form-control"
                        id="email"
                        aria-describedby="email"
                        placeholder="Email"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="input-group">
                      <input
                        type="password"
                        class="form-control form-control"
                        id="password"
                        placeholder="Password"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="input-group">
                      <input
                        type="password"
                        class="form-control form-control"
                        id="confirmPassword"
                        aria-describedby="confirmPassword"
                        placeholder="Confirm Password"
                      />
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn submitbtn w-25" style="background-color: #C7988E;">Submit</button>
                <p>Do you already have an account? <a href="">Sign in</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


