<div class="col-11 col-s-11 media320">
  <div class="row">
    <div class="col-12 col-s-12 imgdiv">
      <a routerLink="/">
        <img class="img320" src="../../../../assets/imgs/logo1.png" alt="" />
      </a>
    </div>
    <div class="col-11 col-s-11 dagomtxt">
      <p class="meaning">
        Dagom is an online thrift shop that offers brand-new and preloved
        blouses, dresses, trousers, and other clothing needs.
      </p>
    </div>
    <div class="col-12 col-s-12 aboutusdiv">
      <button class="aboutus" routerLink="/about-us">About Us</button>
    </div>
    <div class="col-12 col-s-12 registerdiv">
      <div class="row">
        <div class="col-12 col-s-12">
          <p class="register">Register</p>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="col-12 col-s-12">
          <span
          class="text-danger form-text"
          *ngIf="error && error.firstname"
        >
          {{ error.firstname }}
        </span>
          <div class="form-group">
            <input
          class="input"
          type="text"
          name="firstname"
          formControlName="firstname"
          [ngClass]="{ 'border-danger': error && error.firstname }"
          placeholder="Firstname" />
          </div>
        </div>

        <div class="col-12 col-s-12">
          <span
          class="text-danger form-text"
          *ngIf="error && error.lastname"
        >
          {{ error.lastname }}
        </span>
          <div class="form-group">
            <input
          class="input"
          type="text"
          formControlName="lastname"
          name="lastname"
          [ngClass]="{ 'border-danger': error && error.lastname }"
          placeholder="Lastname" />
          </div>
        </div>

        <div class="col-12 col-s-12">
          <span
          class="text-danger form-text"
          *ngIf="error && error.email"
        >
          {{ error.email }}
        </span>
          <div class="form-group">
            <input
          class="input"
          type="text"
          formControlName="email"
          name="email"
          [ngClass]="{ 'border-danger': error && error.email }"
          placeholder="Email Address" />
          </div>
        </div>

        <div class="col-12 col-s-12">
          <span
          class="text-danger form-text"
          *ngIf="error && error.contact_number"
        >
          {{ error.contact_number }}
        </span>
          <div class="form-group">
            <input
          class="input"
          type="text"
          formControlName="contact_number"
          name="contact_number"
          [ngClass]="{ 'border-danger': error && error.contact_number }"
          placeholder="Contact Number" />
          </div>
        </div>

        <div class="col-12 col-s-12">
          <span
          class="text-danger form-text"
          *ngIf="error && error.password"
        >
          {{ error.password }}
        </span>
          <div class="mob-form">
            <input
          class="input"
          [type]="passwordType"
          formControlName="password"
          name="password"
          [ngClass]="{ 'border-danger': error && error.password }"
          placeholder="Password" />
          <i class="material-icons visibility"
                (click)="showPassword()"
                [hidden]="passwordHidden">visibility_off</i>
          <i class="material-icons visibility"
                (click)="showPassword()"
                [hidden]="!passwordHidden">visibility</i>
          </div>
        </div>

        <div class="col-12 col-s-12">
          <span
          class="text-danger form-text"
          *ngIf="error && error.password_confirmation"
        >
          {{ error.password_confirmation }}
        </span>
          <div class="mob-form">
            <input
          class="input"
          [type]="confirmationType"
          formControlName="password_confirmation"
          name="password_confirmation"
          [ngClass]="{ 'border-danger': error && error.password_confirmation }"
          placeholder="Confirm Password" />
          <i class="material-icons visibility"
                 (click)="showConfirmationPassword()"
                 [hidden]="confirmationPasswordHidden">visibility_off</i>
          <i class="material-icons visibility"
                 (click)="showConfirmationPassword()"
                 [hidden]="!confirmationPasswordHidden">visibility</i>
          </div>
        </div>
        <div class="col-12 col-s-12" style="text-align: center;">
          <button class="btn" type="submit">Submit</button>
        </div>
      </form>
        <div class="col-12 col-s-12 forgettxt">
          <p>Do you already have an account? <a routerLink="/login">Sign In</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- web  -->
<div class="col-12 col-s-12 media768">
  <div class="row">
    <div class="col-4 col-s-4 dagomdiv">
      <a routerLink="/">
        <img class="img768" src="../../../../assets/imgs/logo1.png" alt="" />
      </a>
      <p class="meaning">
        Dagom is an online thrift shop that offers brand-new and preloved
        blouses, dresses, trousers, and other clothing needs.
      </p>
      <button class="aboutus" routerLink="/about-us">About Us</button>
    </div>
    <div class="col-6 col-s-6 registerdiv">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="row">
          <p class="registertxt">Register</p>
          <div class="col-6 col-s-6">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Firstname"
                formControlName="firstname"
                [ngClass]="{ 'border-danger': error && error.firstname }"
              />
            </div>
            <span
              class="text-danger form-text"
              *ngIf="error && error.firstname"
            >
              {{ error.firstname }}
            </span>

            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Contact Number"
                formControlName="contact_number"
                [ngClass]="{ 'border-danger': error && error.firstname }"
              />
            </div>
            <span
              class="text-danger form-text"
              *ngIf="error && error.contact_number"
            >
              {{ error.contact_number }}
            </span>
            <div class="form-group">
              <input
                class="form-control"
                [type]="passwordType"
                placeholder="Password"
                formControlName="password"
                [ngClass]="{ 'border-danger': error && error.password }"
              />
              <i class="material-icons visibility"
                (click)="showPassword()"
                [hidden]="passwordHidden">visibility_off</i>
                <i class="material-icons visibility"
                (click)="showPassword()"
                [hidden]="!passwordHidden">visibility</i>
              </div>
              <span
                class="text-danger form-text"
                *ngIf="error && error.password"
              >
                {{ error.password }}
              </span>

          </div>
          <div class="col-6 col-s-6 right">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Lastname"
                formControlName="lastname"
                [ngClass]="{ 'border-danger': error && error.lastname }"
              />
            </div>
            <span class="text-danger form-text" *ngIf="error && error.lastname">
              {{ error.lastname }}
            </span>

            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Email"
                formControlName="email"
                [ngClass]="{ 'border-danger': error && error.email }"
              />
            </div>
            <span class="text-danger form-text" *ngIf="error && error.email">
              {{ error.email }}
            </span>

            <div class="form-group">
              <input
                class="form-control "
                [type]="confirmationType"
                placeholder="Confirm Password"
                formControlName="password_confirmation"
                [ngClass]="{
                  'border-danger': error && error.password_confirmation
                }"
              />
              <i class="material-icons visibility"
                 (click)="showConfirmationPassword()"
                 [hidden]="confirmationPasswordHidden">visibility_off</i>
              <i class="material-icons visibility"
                 (click)="showConfirmationPassword()"
                 [hidden]="!confirmationPasswordHidden">visibility</i>
                </div>
                <span
                  class="text-danger form-text"
                  *ngIf="error && error.password_confirmation"
                >
                  {{ error.password_confirmation }}
                </span>
            <!-- <input
              class="input"
              type="password"
              placeholder="Confirm Password"
              formControlName="password_confirmation"
            /> -->
          </div>
          <button class="btn">Submit</button>
          <p class="txt">
            Do you already have an account? <a routerLink="/login">Sign In</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

