/* // Small devices (landscape phones, 576px and up) */
#card1{
  background-color: #C7988E;
}
#card2{
  background-color: white;
}

@media (min-width: 576px) {
  .card{
    background-color: skyblue;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
  .card{
    margin-top: 30%;
  }
  .test{
    overflow-y: hidden;
  }
  #card1{
    width: 100%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .card{
      margin-top: 20%;
      width: 80%;
    }
 }

