.card{
  background-color: #C7988E;
  margin: 0 auto;
  float: none;
  margin-top: 14%;
}
.logo{
  max-width: 75%;
  /* position: relative; */
}
.formcard{
  margin-left: 4%;
  border-radius: 5px;
}
h1{
  font-family: 'Roboto';
  font-weight: 300;
}
.card-body{
  padding: 10px;
}
/* .container {
    width: 100%;
    height: 100%;
    background-color: #C7988E;
    position: inherit;
} */
/* .body{
  background-color: #C7988E;
} */

/* .left{
  height: 100%;
  width: 100%;
}
.text {
    font-size: 20px;
    color: white;
    margin-left: 5%;
    width: 36%;
} */



/* .btn {
    margin-left: 9%;
    width: 25%;
    border-radius: 100px;
    background-color: white;
    color: black;
}

.register {
    margin: 5%;
}

.submitbtn {
    background-color: #C7988E;
    color: #fff;
    display: block;
    margin-left: auto;
    width: 45% !important;
    margin-right: auto;
    margin-top: 8%;
    padding: 12px;
    margin-bottom: 8%;
}

@media only screen and (max-width: 360px) {
    .logo img {
        width: 25%;
    }
    .logo {
        padding-top: 30px;
    }
    .left {
        margin-left: 10%;
    }
} */
