<div class="topnav">
    <div class="grid">
        <div class="left">
            <img src="../assets/imgs/logo.jpg" alt="">
        </div>
        <div class="right" (click)="openNav()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn categories" (click)="closeNav()">&times;</a>
            <div class="users">
                <a href="" class="user-link"><i class="fa fa-user fa-3x"></i></a>
                <a href="" class="user-link"><i class="fa fa-shopping-bag fa-3x"></i></a>
            </div>
            <a href="#" class="categories" (click)="category()">Category 1</a>
            <div id="dropdown">
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
            </div>
            <a href="#" class="categories">Category 2</a>
            <div id="dropdown1">
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
            </div>
            <a href="#" class="categories">Category 3</a>
            <div id="dropdown2">
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
            </div>
            <a href="#" class="categories">Category 4</a>
            <div id="dropdown3">
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
            </div>
            <a href="#" class="categories">Category 4</a>
            <div id="dropdown4">
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
            </div>
            <a href="#" class="categories">Category 6</a>
            <div id="dropdown5">
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
                <a href="" class="dropdown-item">Item 1</a>
            </div>
        </div>
    </div>

    <ul class="titles">
        <li><a routerLink="#">Summer Collection</a></li>
        <li><a routerLink="#">First Collection</a></li>
        <li><a routerLink="#">Second Collection</a></li>
        <li><a routerLink="#">Hot Sales</a></li>
        <li><a routerLink="#">About Us</a></li>
        <div style="margin-left:65%; margin-top:-2%;" *ngIf="unAuthorized">
            <li><a routerLink="login">Log In</a></li>
            <li><a routerLink="register">Register</a></li>
        </div>
    </ul>

    <hr>
    <div class="grid">
        <div class="search">
            <form action="" [formGroup]="form" (ngSubmit)="searchProducts()">
                <input type="text" class="searchField" formControlName="data" name="data" placeholder="Search Products">
                <button type="submit"><i class="fa fa-search fa-2x"></i></button>
            </form>
            <div class="search2" *ngIf="authorized">
                <div class="dropdown">
                    <a href="#" class="user"><i class="far fa-user-circle"></i></a>
                    <div class="dropdown-content">
                        <a routerLink="">My Profile</a>
                        <a >Log Out</a>
                    </div>
                </div>
                <a href="cart" class="cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>