<div class="topnav">
    <div class="grid">
        <div class="left">
             <a routerLink="/">
            <img src="../assets/imgs/logo.jpg" alt="">
          </a>
        </div>
        <div class="right" (click)="openNav()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn categories" (click)="closeNav()">&times;</a>
            <div class="users">
              <a href="#" class="cart"><span class="custom-badge"></span><i class="fas fa-shopping-bag bag"></i></a>
                <a class="user" routerLink="/show-profile"><i class="far fa-user-circle bag"></i></a>
            </div>
            <a class="categories" *ngFor="let category of categories" (click)="LinkThisCategory(category)">{{category.name}}</a>
            <a class="categories" routerLink="/about-us">About Us</a>
            <a class="categories" routerLink="/login">Sign In</a>
            <a class="categories" routerLink="/register">Sign Up</a>
        </div>
    </div>
    <div class="titles">
      <ul>

        <li *ngFor="let category of categories"><a (click)="LinkThisCategory(category)">{{ category.name}}</a></li>
        <li><a routerLink="#">About Us</a></li>
        <li><a routerLink="/login" *ngIf="!authorized">Log In</a></li>
        <li><a routerLink="/register" *ngIf="!authorized">Register</a></li>
      </ul>
    </div>
    <hr class="line">
    <div class="grid">
        <div class="search">
            <div id="input-search-wrapper">
                <input type="text" name="data" placeholder="Search Products...">
                <a href="#"><i class="fa fa-search fa-2x"></i></a>
            </div>
        </div>
        <div class="icons">
          <a href="#" class="cart"><span class="custom-badge"></span><i class="fas fa-shopping-bag bag"></i></a>
            <div class="dropdown" *ngIf="authorized">
                <a class="user" routerLink="/show-profile"><i class="far fa-user-circle bag"></i></a>
                <div class="dropdown-content" >
                    <a routerLink="/show-profile">My Profile</a>
                    <a (click)="logout()">Log Out</a>
                </div>
            </div>
            <a href="/cart" class="cart"><span class="custom-badge">1</span><i class="fa fa-cart-plus fa-2x"></i></a>
        </div>
    </div>
</div>
