body {
    background-color: #C7988E;
}

#dropdown {
    margin-left: 58px;
    display: none;
    animation: fadeIn 1s 1;
}

.titles a {
    text-decoration: none;
    color: #fff;
}

.titles a:hover {
    opacity: 0.5;
}

#dropdown a {
    color: white;
}

.icons {
    margin-top: -50px
}


/*
*/

#dropdown1 {
    margin-left: 58px;
    display: none;
    animation: fadeIn 1s 1;
}

#dropdown1 a {
    color: white;
}

#dropdown2 {
    margin-left: 58px;
    display: none;
    animation: fadeIn 1s 1;
}

#dropdown2 a {
    color: white;
}

#dropdown3 {
    margin-left: 58px;
    display: none;
    animation: fadeIn 1s 1;
}

#dropdown3 a {
    color: white;
}

#dropdown4 {
    margin-left: 58px;
    display: none;
    animation: fadeIn 1s 1;
}

#dropdown4 a {
    color: white;
}

#dropdown5 {
    margin-left: 58px;
    display: none;
    animation: fadeIn 1s 1;
}

#dropdown5 a {
    color: white;
}


/*
*
*
*
*
*/

.users {
    margin-left: 24px;
    margin-top: -16px;
}

.users .user-link {
    margin-left: 15px;
    color: white;
}

.right {
    float: right;
    margin-top: -45px;
    margin-right: 11px;
    display: none;
    cursor: pointer;
}

.right .bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 8px 0;
}

.topnav {
    background-color: #C7988E;
}

.topnav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.titles li {
    display: inline;
    margin-left: 25px;
}

.titles {
    text-align: center;
    margin-top: 30px;
    color: white;
}

hr {
    margin-top: 7px;
    margin-bottom: -1px;
    background-color: white;
}

.search {
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: rgb(214, 185, 190);
    text-align: center;
    margin-left: 45px;
}

.search input[type="text"] {
    padding: 10px;
    width: 400px !important;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    width: 300px;
    color: #C7988E;
    outline-style: none;
}

.search input::placeholder {
    color: #C7988E;
}

.searchButton {
    margin-left: 5px;
}

.search a {
    color: black;
    text-decoration: none;
    margin-left: 5px;
}

.user {
    float: right;
    margin-right: 15px
}

.cart {
    float: right;
    margin-right: 25px;
}


/* Sidebar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #C7988E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .categories {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-top: 16px;
}

.sidenav .categories:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 460px) {
    .user,
    .cart,
    ul {
        display: none;
    }
    .right {
        display: block;
    }
    .topnav img {
        margin-left: 0;
        margin-right: 100%;
        margin-top: 0;
        height: 50px;
        width: auto;
    }
    .search input[type="text"] {
        width: 300px !important;
        padding: 5px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 620px) and (min-width: 460px) {
    .user,
    .cart,
    ul {
        display: none;
    }
    .right {
        display: block;
    }
    .topnav img {
        margin-left: 0;
        margin-right: 100%;
        height: 50px;
        width: auto;
    }
    .search input[type="text"] {
        width: 350px !important;
        ;
        padding: 5px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 375px) and (min-width: 320px) {
    .search input[type="text"] {
        width: 230px !important;
        padding: 5px;
        margin-left: 0px !important;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
