<div class="container">
    <div class="wrapper">
        <p>Product on Sale</p>
        <div class="contain">
            <div class="row">
                <div class="col-9">
                    <form name="form" (ngSubmit)="searchProducts()">
                        <div class="form-group row">
                            <button type="submit" class="col-sm-2 btn btn-primary">Search</button>
                            <div class="col-sm-10">
                                <input type="text" class="form-control search" formControlName="data" [(ngModel)]="filterTerm" placeholder="Search product name.....">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary add" routerLink="/admin/add-sales">Add</a>
                </div>
                <div class="col-12 mt-5">
                    <div class="table-responsive-lg">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total Quantity</th>
                                    <th scope="col">Number of Units</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Available No. of Stock</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of sales | filter:filterTerm | paginate : {itemsPerPage:5, currentPage:cp}">
                                    <td> {{ product.products.name }} </td>
                                    <td> {{ product.products.category.name }} </td>
                                    <td>{{ product.price }}</td>
                                    <td *ngIf="product.products.sizes.length > 0"> {{ product.products.sizes[0].pivot.unit_measure }} </td>
                                    <td>{{ product.unit_measure }}</td>
                                    <td>{{ product.size }}</td>
                                    <td *ngIf="product.products.sizes.length > 0"> {{ product.products.sizes[0].pivot.avail_unit_measure }} </td>
                                    <td *ngIf="product.products.sizes.length == 0"> 0 </td>
                                    <td *ngIf="product.products.sizes.length == 0"> 0 </td>
                                    <td>
                                        <button type="button" (click)="delete(product)" class="btn btn-danger actionBtn"><i class="far fa-trash-alt"></i></button>
                                        <button type="button" (click)="edit(product)" class="btn btn-success actionBtn"><i class="fas fa-edit"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="Unathorized" *ngIf="!sales">
                            <img src="https://financialadvisors.com/media/no-images/nodata-found.png" alt="" class="responsive-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="sales">
  <pagination-controls (pageChange)="cp = $event"></pagination-controls>
</div>
