<div class="container-fluid">
  <div class="mt-2 ml-2 mr-2">
    <div class="row">
      <div class="toPay">
        <div class="col d-flex justify-content-center">
          <div class="col">
            <h4>All Orders</h4>
          </div>
          <div class="col">
            <h4>To Pay</h4>
          </div>
          <div class="col">
            <h4>Delivery Date</h4>
          </div>
          <div class="col">
            <h4>Received</h4>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col mb-5 d-flex justify-content-center ">
            <div class="col">
              <div>
                <img class="mr-5 mt-5 mb-5" style="width:150px; height:200px;" src="../../../../assets/imgs/image1.jpg"
                  alt="">
              </div>
              <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
                <br>
                <h6 style="color: green">Confirm</h6>
              </div>
            </div>
            <div class="col">
              <div>
                <img class="mr-5 mt-5 mb-5" style="width:150px; height:200px;" src="../../../../assets/imgs/image1.jpg"
                alt="">

            </div>
            <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
                <br>
                <h6 style="color: red">Pending</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- <br><br><br> -->

        <hr>
        <div class="payment">
          <h5>Subtotal: Php 200</h5>
          <h5>Shipping Fee: Php 70</h5>
          <h5>Total: Php 270</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-11 col-s-11 tabletContainer">
  <div class="row">
    <div class="col-2 col-s-2">
      <h6>All Orders</h6>
    </div>
    <div class="col-1 col-s-1"></div>
    <div class="col-2 col-s-2">
      <h6>To Pay</h6>
    </div>
    <div class="col-1 col-s-1"></div>
    <div class="col-3 col-s-3">
      <h6>Delivery Date</h6>
    </div>
    <div class="col-1 col-s-1"></div>
    <div class="col-2 col-s-2">
      <h6>Received</h6>
    </div>
    <hr>
    <div class="col-3 col-s-3">
      <img id="img" src="../../../../assets/imgs/image1.jpg" alt="">

    </div>

  </div>

</div>


