<app-sample-header></app-sample-header>
<div class="col-11 col-s-11 media320">
  <div class="row">
    <div class="col-12 col-s-12 headers">
      <a id="allorders" href="#">All Orders</a>
      <a href="#">To Pay</a>
      <a href="#">Delivery Date</a>
      <a href="#">Received</a>
    </div>
    <hr id="headerhr">
    <div class="col-6 col-s-6">
      <img id="img320" src="../../../../assets/imgs/dag.jpg" alt="">
    </div>
    <div class="col-6 col-s-6 right">
      <p id="prodname">Product Name</p>
      <p id="amount">Php 100.00</p>
      <p id="quant">2</p>
      <hr id = "hr1">
      <p id="total" >Php 200.00</p>
    </div>
    <div class="col-6 removebutton">
      <button id="rmvbtn">Remove</button>
    </div>
    <div class="col-6 status">
      <p id="pending">Pending</p>
    </div>

    <div class="col-6 col-s-6">
      <img id="img320" src="../../../../assets/imgs/dag.jpg" alt="">
    </div>
    <div class="col-6 col-s-6 right">
      <p id="prodname">Product Name</p>
      <p id ="amount">Php 100.00</p>
      <p id="quant">2</p>
      <hr id = "hr1">
      <p id="total">Php 200.00</p>
    </div>
    <div class="col-6 col-s-6"></div>
    <div class="col-6 status">
      <p id="confirmed">Confirmed</p>
    </div>
    <div class="col-12 col-s-12">
      <hr class="hr2">
    </div>
    <div class="col-12 col-s-12 buttons">
      <p style="margin-bottom: 0px;">Subtotal: Php 200.00</p>
      <p style="margin-bottom: 0px; margin-right: 16%;">Shipping Fee: Php 70.00</p>
      <p style="margin-left: 19%;">Total: 270.00</p>
    </div>
  </div>
</div>
<app-cus-footer></app-cus-footer>



<!-- <div class="container-fluid">
  <div class="mt-2 ml-2 mr-2">
    <div class="row">
      <div class="toPay">
        <div class="col d-flex justify-content-center">
          <div class="col">
            <h4>All Orders</h4>
          </div>
          <div class="col">
            <h4>To Pay</h4>
          </div>
          <div class="col">
            <h4>Delivery Date</h4>
          </div>
          <div class="col">
            <h4>Received</h4>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col mb-5 d-flex justify-content-center ">
            <div class="col">
              <div>
                <img class="mr-5 mt-5 mb-5" style="width:150px; height:200px;" src="../../../../assets/imgs/image1.jpg"
                  alt="">
              </div>
              <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
                <br>
                <h6 style="color: green">Confirm</h6>
              </div>
            </div>
            <div class="col">
              <div>
                <img class="mr-5 mt-5 mb-5" style="width:150px; height:200px;" src="../../../../assets/imgs/image1.jpg"
                alt="">

            </div>
            <div class="description">
                <h5>Product Name</h5>
                <h6>Php 100.00</h6>
                <h6>2</h6>
                <h6>Php 200.00</h6>
                <br>
                <h6 style="color: red">Pending</h6>
              </div>
            </div>
          </div>
        </div>

        <br><br><br>

        <hr>
        <div class="payment">
          <h5>Subtotal: Php 200</h5>
          <h5>Shipping Fee: Php 70</h5>
          <h5>Total: Php 270</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-11 col-s-11 tabletContainer">
  <div class="row">
    <div class="col-2 col-s-2">
      <h6>All Orders</h6>
    </div>
    <div class="col-1 col-s-1"></div>
    <div class="col-2 col-s-2">
      <h6>To Pay</h6>
    </div>
    <div class="col-1 col-s-1"></div>
    <div class="col-3 col-s-3">
      <h6>Delivery Date</h6>
    </div>
    <div class="col-1 col-s-1"></div>
    <div class="col-2 col-s-2">
      <h6>Received</h6>
    </div>
    <hr>
    <div class="col-3 col-s-3">
      <img id="img" src="../../../../assets/imgs/image1.jpg" alt="">

    </div>

  </div>

</div> -->



