.media320, .media768{
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F6F2EF;
  margin-bottom: 10%;
  color: #C7988E;
  font-family: 'Roboto';
}
.Unathorized{
  text-align: center;
}
.responsive-image{
  width: 100%;
}
.test{
  overflow-y: auto;
  height: 500px;
  overflow-x: hidden;
}

.listOfProducts{
  overflow-y: auto;
  height: 230px;
}

hr{height: 0.2vw;}
.hr{background-color: #F6F2EF;}
a{
  color: #C7988E;
  text-decoration: none;
}
.status, .buttons, .account{text-align: center;}
#pending{color: #D71515;}
#confirmed{color: #02530A;}
#rmvbtn{
  background-color: #D71515;
  border-radius: 8px;
  width: 90%;
  margin-left: 5vw;
  margin-top: 2vw;
}
#headerhr{
  width: 88vw;
  margin-top: 2%;
  margin-left: -1vw;
  background-color: #C7988E;
}
#img320{
  width: 90%;
  /* height: auto; */
  margin-left: 13%;
  box-shadow: 4px 4px rgba(202, 195, 195, 0.541);
}
.buttons{
  font-weight: bold;
  font-size: 4vw;
}
.account, .deliverypanel{
  background-color: #F6F2EF;
  border-radius: 5px;
}
.deliverypanel{margin-left: 7%;}
.profileimg{
  width: 60%;
  height: 28%;
  border-radius: 50%;
  margin-top: 20%;
}
.btn{
  box-sizing: border-box;
  border: none;
  color: #F6F2EF;
  padding: 0px;
  margin-left: 3%;
  border-radius: 7px;
}
#allorders, #topay{padding-right: 4vw;}
#deliverydate{padding-right: 5vw;}
#recievedate{margin-left: -30%;}
#totalamount{margin-left: -8%;}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%; }
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media screen and (min-width: 320px) {
  .media320{
    margin-left: 4vw;
  }
  .headers{
    font-size: 4vw;
    margin-top: 7%;
  }
  #prodname{
    font-weight: bold;
    padding-top: 2vw;
  }
  .right{
    text-align: center;
    margin-left: -2%;}
  .right p{
    font-size: 4.5vw;
    margin-bottom: 7%;
  }
  .btn, .status p{ font-size: 5vw;}
  #hr1{
    width: 78%;
    margin-left: 5vw;
    margin-top: 8%;
  }
  #hr2{
    width: 92vw;
    margin-left: -5vw;
  }
  #quant{margin-left: 60%;}
  #confirmed{margin-bottom: 0%;}
  .status{margin-bottom: 5vw;}
  .col-6{margin-top: 5vw;}
  #pending{padding-top: 2vw;}
}
@media screen and (min-width: 425px) {
  #hr2{width: 93vw;}
}
@media screen and (min-width: 600px) {
  #headerhr{width: 88vw;}
  #hr2{width: 94vw;}
}
@media screen and (min-width: 700px) {
  #headerhr{width: 90vw;}
  #hr2{width: 95vw;}
}

@media screen and (max-width:767px){
  .media768{display: none;}
}
@media screen and (min-width:768px){
  .media320{display: none;}
  .media768{
    background-color: transparent;
    margin-bottom: -8vw;
  }
  .deliverypanel{
    margin-left: 3%;
    width: 72%;
    margin-bottom: 10%;
  }
  .header768{margin-top: 5%;}
  .header768, .account p, .details p, #rmvbtn, #confirmed, #pending, p, .buttons p{font-size: 2vw;}
  .allorder768{
    margin-left: 1%;
    padding-right: 10vw;
  }
  #toPay, #deliverydate{ padding-right: 11vw;}
  #quant{margin-left: 9.1vw;}
  #hr768{
    width: 72vw;
    margin-left: -1.5vw;
  }
  .account{
    margin-bottom: 35%;
    margin-left: 2.6vw;
    width: 20%;
  }
  .account p{
    margin-bottom: 0%;
    padding-top: 2vw;

  }
  #img768{
    margin-left: 15%;
    width: 80%;
    height: 80%;
    box-shadow: 4px 4px rgba(202, 195, 195, 0.541);
  }
  .details{
    margin-left: -8%;
    text-align: center;
  }

  #confirmed{
    text-align: right;
    margin-left: -11%;
    margin-top: -7%;
  }
  #rmvbtn{
    margin-top: -2.5vw;
    margin-left: 2vw;
    border-radius: 5px;
    width: 83%;
  }
  #hr1{
    width: 13vw;
    margin-left: 9%;
    margin-bottom: 5%;
  }
  #hr2{
    width: 71.5vw;
    margin-left: -1.5vw;
  }
  #pending{
    text-align: right;
    margin-right: 3.5vw;
    margin-top: -3vw;
  }
  #prodname{
    margin-bottom: 1%;
    padding-top: 1vw;
  }
  #total{margin-bottom: 30%;}
  #amount{margin-bottom: 0%;}
  .buttons{text-align: right;}
  #subtotal, #alltotal{
    margin-bottom: 0%;
    margin-right: 3vw;
  }
  #shippingfee{
    margin-bottom: 0%;
    margin-right: 5vw;
  }
  .col-6{margin-top: 0vw;}
}
@media screen and (min-width: 1024px) {
  .media768{margin-bottom: -19vw;}
  #hr2{width: 72vw;}
  .account{
    width: 16.66%;
    margin-left: 8vw;
    margin-bottom: 35%;
  }
  .deliverypanel{
    margin-bottom: 22%;
    margin-left: 8%;
    width: 60%;
  }
  .account p, .deliverypanel p, #rmvbtn, .header768, #confirmed, #pending{font-size: 1.3vw;}
  #img768{
    height: 85%;
    margin-left: 3vw;
  }
  .details{
    text-align: right;
    margin-left: -4vw;
  }
  #hr1{
    margin-left: 4vw;
    width: 9.3vw;
  }
  #hr2{
    margin-left: -1.1vw;
    width: 60vw;
  }
  #hr768{
    width: 60vw;
    margin-left: -1.2vw;
  }
  #amount, #total, #quant{margin-right: 1vw;}
  #prodname{
    padding-top: 0.5vw;
    margin-bottom: 5%;}
  #quant{margin-bottom: 5%;}
  #total{margin-bottom: 15%;}
  .subdiv{
    margin-top: -1vw;
  }
  #rmvbtn{
    margin-top: -0.8vw;
    margin-left: 3vw;
  }
  #confirmed, #pending{margin-top: -0.8vw;}
}

@media screen and (min-width: 1440px) {
  .account{margin-bottom: 33%;}
  #hr2, #hr768{
    width: 59.7vw;
    margin-left: -0.9vw;
  }
}
@media screen and (min-width: 2560px) {
  #hr2, #hr768{
    width: 59.8vw;
    margin-left: -0.5vw;
  }
  .account{margin-bottom: 30%;}
  .allorder768{
    margin-left: 3%;
  }
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 15px;
}

.nav-inner-wrap {
  text-align: center;
  padding: 12px 0px;
  border-bottom: solid 1px #C7988E;
}

.active-nav {
  border-bottom: solid 2px #C7988E;
}
