.media320, .media768{
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F6F2EF;
  margin-bottom: 10%;
  color: #C7988E;
  font-family: 'Roboto';
}
.headers{
  font-size: 14px;
  margin-top: 7%;
}
a{
  color: #C7988E;
  text-decoration: none;
  padding: 4px;
}
#img320, #img768{
  width: 100%;
  height: 100%;
}
.col-6{
  margin-bottom: 10%;
}
#prodname{
  font-weight: bold;
}
.right{
  text-align: center;
}
#hr1{
  margin-top: -14px;
}

#headerhr{
  margin-left: -11px;
  margin-top: 3%;
}
.status, .removebutton{
  text-align: center;
}
#pending{
  color: #D71515;
}
#confirmed{
  color: #02530A;
}
#rmvbtn{
  border: none;
  background-color: #D71515;
  color: #F6F2EF;
  border-radius: 8px;
  width: 85%;
}
.buttons{
  text-align: center;
  font-weight: bold;
}
.hr2{
  width: 111%;
  margin-left: -6%;
  border-top: 1px solid #9b5748;
}
.account{
  background-color: #F6F2EF;
  border-radius: 5px;
  text-align: center;
}
.deliverypanel{
  background-color: #F6F2EF;
  margin-left: 7%;
  border-radius: 5px;
}
.profileimg{
  width: 60%;
  height: 28%;
  border-radius: 50%;
  /* margin-left: 20%; */
  margin-top: 20%;
}
.text{
  margin-bottom: 15%;
}
.btn{
  box-sizing: border-box;
  border: none;
  background-color: #C7988E;
  color: #F6F2EF;
  font-size: 15px;
  padding: 7px;
  margin-left: 3%;
  width: 98%;
  padding: 3px;
  border-radius: 7px;

}
#recievedate{
  margin-left: -30%;
}
#totalamount{margin-left: -8%;}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%; }
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media screen and (min-width: 320px) {
  .media320{
    margin-left: 16px;
  }
  p{
    font-size: 15px;
  }
  #quant{
    margin-left: 50%;
  }
  #allorders{
    margin-left: -9.1px;
    padding-left: 4px;
  }
  #subtotal, #shippingfee, #alltotal{
    font-weight: bold;
  }
}
@media screen and (min-width: 323px){
  #allorders{ padding-left: 6px;}
}

@media screen and (min-width: 330px) {
  #allorders{margin-left: -9.9px;}
  a{padding: 5px;}
  .headers{text-align: center;}
}


@media screen and (min-width: 350px) {
  .headers{font-size: 15px;}
  p{font-size: 16px;}
}
@media screen and (min-width: 350px) {
  a{padding: 5px;}
  #quant{margin-left: 45%;}
  #allorders{padding-left: 8px}
}
@media screen and (min-width: 375px){
  .media320{margin-left: 12px;}
  .headers{
    font-size: 16px;
    text-align: center;
  }
  p{font-size: 17px;}
  .hr2{
    width: 109%;
    margin-top: 1%;
    margin-left: -5%;
  }
}
@media screen and (min-width: 385px){
  a{padding: 7px;}
}
@media screen and (min-width: 400px){
  .headers{font-size: 17px;}
  p{font-size: 18px;}
  #allorders{padding-left: 5px;}
  .hr2{width: 108%;}
}
@media screen and (min-width: 420px){
  .media320{margin-left: 14px;}
  .headers{font-size: 18px;}
  p,.status, .removebutton{font-size: 19px;}
  #allorders{padding-left: 11px;}
  .hr2{margin-left: -4%;}
}
@media screen and (max-width:767px){
  .media768{display: none;}
}
@media screen and (min-width:768px){
  .media320{display: none;}
  .media768{
    background-color: transparent;
    margin-left: 2%;
  }
  .deliverypanel{
    margin-left: 3%;
  }
  .text, .deliverypanel p{
    font-size: 15px;
  }
  .deliverypanel a{
    padding: 28px;
    margin-top: 5%;
    color: #C7988E;
    text-decoration: none;
    padding-left: 32px;
  }
  .header768{
    margin-top: 5%;
    font-size: 15px;
  }
  #hr768{
    width: 105%;
    margin-left: -13px;
  }
  .right768{text-align: center;}
  .allorder768{margin-left: -15px;}
  #img768{margin-left: 6%;}
  .header768 a{
    font-size: 15px;
  }
  #prodname{
    font-size: 15px;
    margin-top: 18%;
    margin-left: -20px;
  }
  #amount, #total{
    margin-left: -18px;
  }
  #amount, #prodname, #hr1{margin-bottom: 5px;}
  .totalvalue{
    margin-left: 20%;
    margin-top: 25%;
  }
  .date{
    margin-top: 10%;
  }
  .account{
    margin-bottom: 20%;
    margin-left: 5px;
  }
  .account p{
    font-size: 15px;
    margin-bottom: 0%;
  }
  #confirmed{
    text-align: right;
    margin-left: -4%;
    margin-top: -4%;}
  #rmvbtn{
    font-size: 15px;
    padding-bottom: 3px;
    margin-left: 9%;
    width: 100%;
    margin-left: 9%;
    padding-top: 3px;
    margin-top: -13%;
  }
  #pending{
    float: right;
    margin-right: 12%;
    margin-top: -12%;
  }
  .details p{text-align: center;}
  .hr2{
    width: 105%;
    margin-left: -12px;
    margin-top: -8%;
  }
  .buttons{
    text-align: right;
    margin-top: -3%;
  }
  .buttons p{padding-right: 2%;}
  #subtotal, #shippingfee{
    margin-bottom: 2%;
  }
  #shippingfee{margin-right: 2%;}
  #quant{margin-left: 50%;}
}
@media screen and (min-width:1024px){
  .account p{
    font-size: 18px;
    padding-top: 3%;
  }
  .account{
    width: 20%;
    margin-left: 3%;
  }
  .profileimg{
    width: 50%;
    height: 25%;
    margin-left: 0%;
    margin-top: 20%;
  }
  .deliverypanel a{
    font-size: 18px;
    padding: 60px;
    padding-left: 30px;
  }
}
