.toPay {
    background-color: rgb(240, 231, 231);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    margin-top: 2%;
    text-align: center;
}

h4 {
    padding-top: 5%;
}
col {
    margin-left: -20%;
}

hr {
    color: #C7988E;
}

.description {
    margin-left: 50%;
    margin-top: -40%;
    
}

.removeButton {
    float: left;
}

.payment {
    float: right;
    margin-right: 5%;
    margin-left: 70%;
    text-align: end;
}