<div class="container">
    <div class="wrapper">
        <p>Admins</p>
        <div class="contain">
            <div class="row">
                <div class="col-9">
                    <form [formGroup]="form" (ngSubmit)="searchAdmins()">
                        <div class="form-group row">
                            <button type="submit" class="col-sm-2 btn btn-primary">Search</button>
                            <div class="col-sm-10">
                                <input type="text" formControlName="data" class="form-control search" placeholder="Search product name.....">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary add" routerLink="/admin/add-admin">Add</a>
                </div>
                <div class="col-12 mt-5">
                    <div class="table-responsive-lg">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Contact Number</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="admins">
                                <tr *ngFor="let admin of admins">


                                    <td> {{ admin.firstname }} {{ admin.lastname }} </td>
                                    <td> {{ admin.contact_number }} </td>
                                    <td> {{ admin.email }} </td>
                                    <td>
                                        <button type="button" (click)="update(admin)" class="btn btn-success actionBtn"><i class="fas fa-edit"></i></button>
                                        <button type="button" (click)="confirmDelete(admin)" class="btn btn-danger actionBtn"><i class="far fa-trash-alt"></i></button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="!admins" class="not-available">
                            <i class="fas fa-tshirt"></i> No Admins Available Here!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>