<div class="container">
    <div class="wrapper">
        <p>Customers</p>
        <div class="contain">
            <div class="row">
                <div class="col-9">
                    <form name="form" [formGroup]="form" (ngSubmit)="searchCustomers()">
                        <div class="form-group row">
                            <button type="submit" class="col-sm-2 btn btn-primary">Search</button>
                            <div class="col-sm-10">
                                <input type="text" class="form-control search" formControlName="data" placeholder="Search...">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 mt-5">
                    <div class="table-responsive-lg">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"> First Name</th>
                                    <th scope="col"> Last Name</th>
                                    <th scope="col">Contact Number</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customers">
                                    <td>{{ customer.firstname }} </td>
                                    <td>{{ customer.lastname }} </td>
                                    <td> {{ customer.contact_number }}</td>
                                    <td> {{ customer.email }} </td>
                                    <td> {{ customer.addresses }} </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="Unathorized" *ngIf="!customers">
                            <img src="https://financialadvisors.com/media/no-images/nodata-found.png" alt="" class="responsive-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>