.container {
    text-align: center;
}

p {
    text-align: center;
    font-size: 23px;
}

#search {
    width: 320px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 10px;
}

.btn-primary {
    background: #C7988E!important;
    border-color: #C7988E!important;
}

.btn-primary:hover {
    background-color: darkolivegreen!important;
    border-color: darkolivegreen!important;
}

.add {
    width: 100px;
}

.search {
    margin-left: -10px;
    width: 280px;
}



.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal-dialog{
  max-width: 70%;
}

.modal-content{
  padding: 15px;
}


td,
th {
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
}

.confirm{
  margin-left: 15px;
}

.btn{
  width: 115px;
}

.active{
  color: green;
}

img{
  width: 50%;
    display: block;
    margin-inline: auto;
}
