<div class="container">
  <div class="row">
    <div class="col">
      <h4>All Orders</h4>
    </div>
    <div class="col">
      <h4>To Pay</h4>
    </div>
    <div class="col">
      <h4>Delivery Date</h4>
    </div>
    <div class="col">
      <h4>Received</h4>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      <h4>Product</h4>
    </div>
    <div class="col-3">
      <h4>Received Date</h4>
    </div>
    <div class="col-3">
      <h4>Total Amount</h4>
    </div>
  </div>

  <br>

  <div class="row prods">
    <div class="col-6">
      <div>
        <img class="mr-5 mt-5 mb-5" style="width:150px; height:200px;" src="../../../../assets/imgs/image1.jpg" alt="">
      </div>
      <div class="description">
        <h5>Product Name</h5>
        <h6>Php 100.00</h6>
        <h6>2</h6>
        <h6>Php 200.00</h6>
      </div>
    </div>
    <div class="col-3">
        <p>December 12, 2021</p>
        <button type="button" class="btn ml-4 w-75">Comment</button>
    </div>
    <div class="col-3">
        <p>Php 250.00</p>
    </div>
  </div>

  <br><br>

  <div class="row prods">
    <div class="col-6">
      <div>
        <img class="mr-5 mt-5 mb-5" style="width:150px; height:200px;" src="../../../../assets/imgs/image1.jpg" alt="">
      </div>
      <div class="description">
        <h5>Product Name</h5>
        <h6>Php 100.00</h6>
        <h6>2</h6>
        <h6>Php 200.00</h6>
      </div>
    </div>
    <div class="col-3">
        <p>December 12, 2021</p>
        <button type="button" class="btn ml-4 w-75">Comment</button>
    </div>
    <div class="col-3">
        <p>Php 250.00</p>
    </div>
  </div>

  <br><br><br>
</div>
