@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
.media320, .media768{
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F6F2EF;
  margin-bottom: 10%;
  font-family: 'Roboto';
}
a, p{
  color: #C7988E;
  text-decoration: none;
}
#img320{
  width: 90%;
  height: 100%;
  margin-left: 14%;
}
#headerhr{
  width: 84vw;
  margin-top: 2%;
  margin-left: -1vw;
}
#allorders, #topay{padding-right: 4vw;}
#deliverydate{padding-right: 5vw;}
#hr768,#headerhr{border: 1px solid #C7988E;}



@media screen and (min-width: 320px){
  .media320{margin-left: 4.5vw;}
  .headers{margin-top: 7%;}
  .headers a, .received320 p{
    font-size: 4vw;
 }
 p{font-size: 5vw;}
 #prodname{font-weight: bold;}
 .right{text-align: center;}
 #prodname, #amount{margin-bottom: 1vw;}
 #quant{
   margin-bottom: 0vw;
   margin-left: 23vw;
 }
 #hr1{margin-top: 1vw;}
 #img320{height: 90%;}
 #hr1{
   width: 28vw;
   margin-left: 5vw;
 }
 #receiveddate1{
   margin-left: 10vw;
   margin-bottom: 0vw;
 }
 #prepareamount{margin-left: 5vw;}
 .col-6{margin-top: 3vw;}
}
 @media screen and (min-width:375px) {
  #headerhr{
    width: 85vw;}
 }
 #hr1{width: 30vw;}

@media screen and (max-width: 767px){
  .media768{display: none;}
}
@media screen and (min-width:768px){
  .media320{display: none;}
  .media768{
    background-color: transparent;
  }
  #img768{
    margin-left: 15%;
    width: 100%;
    height: 90%;
  }
  .account{
    text-align: center;
    margin-bottom: 49%;
    margin-left: 2vw;
    width: 20%;
    height: 30vw;
  }
  .deliverypanel{
    margin-left: 2%;
    width: 72%;
    margin-bottom: 27%;
  }
  .account, .deliverypanel{
    background-color: #F6F2EF;
    border-radius: 5px;
  }
  .profileimg{
    width: 60%;
    height: 28%;
    border-radius: 50%;
    margin-top: 20%;
  }
  .btn{
    box-sizing: border-box;
    background-color: #C7988E;
    border-radius: 5px;
    color: #F6F2EF;
    font-size: 1.8vw;
    padding-bottom: 0.2vw;
    padding-top: 0.2vw;
  }
  .header768 a, .account p{font-size: 2vw;}
  .right768 p, p{font-size: 1.8vw;}
  #toPay, #deliverydate{ padding-right: 11vw;}
  .allorder768{
    margin-left: 1%;
    padding-right: 10vw;
  }
  .right768, .date, .amount{text-align: center;}
  .totalvalue{margin-top: 3vw;}
  #quant{margin-left: 8vw;}
  #prodheader{margin-left: 2vw;}
  #amountheader{margin-right: 0.5vw;}
  .headertxt768 p{font-weight: bold;}
  .receiveheader{
    text-align: center;
    margin-left: 6vw;
  }
  .header768{
    margin-top: 2vw;
  margin-bottom: 1vw;}
  #hr1{
    width: 11vw;
    margin-left: 2vw;
  }
  #datereveived{
    margin-bottom: 0vw;
    margin-top: 3vw;
  }
}
  /* .deliverypanel{
    margin-left: 3%;
  }
  .text, .deliverypanel p{
    font-size: 15px;
  }
  .deliverypanel a{
    padding: 28px;
    margin-top: 5%;
    color: #C7988E;
    text-decoration: none;
    padding-left: 32px;
  }
  .header768{
    margin-top: 5%;
    font-size: 15px;
  }
  #hr768{
    width: 106%;
    margin-left: -3%;
  }
  .right768{text-align: center;}
  .allorder768{margin-left: -15px;}
  #img768{margin-left: 8%; width: 85%;}
  .header768 a{
    font-size: 15px;
  }
  .prt{
    font-weight: bold;
  }
  #prodname{font-size: 15px;}
  #img768{margin-left: 8%; width: 85%;}
  #recievedate{
    margin-left: -30%;
  }
  #totalamount{margin-left: -8%;}
  .totalvalue{
    margin-left: 20%;
    margin-top: 25%;
  }
  .date{
    margin-top: 10%;
  }
  .account{
    margin-bottom: 10%;
  }
  .account p{
    font-size: 15px;
  }
  .account a{
    text-decoration: none;
    color: #C7988E;
    text-align: center;
  }
  .btn{margin-top: 5%;}
  #amount, #total{margin-left: -1%;}
}
@media screen and (min-width:1024px) {
  .account p{
    font-size: 18px;
  }
  .deliverypanel a{
    font-size: 18px;
    padding: 55px;
    padding-left: 35px;
  }
  #img768{
    width: 85%;
    margin-left: 15%;
  }
  .right768 p{font-size: 16px;}
  #prodname{font-size: 16px; margin-left: -15%;}
  #amount, #total{margin-left: -25px;}
  #quant{margin-left: 33%;}
  .btn{
    width: 75%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10%;
  }
  .totalvalue{margin-top: 10%;}
} */
