.productSelect {
    background-color: #F6F2EF;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 9%;
    border-radius: 10px;
}

.media1024{
  background-color: #F6F2EF;
  box-sizing: border-box;
  margin-left: 4%;
  border-radius: 10px;
}

.media320{
  background-color: #F6F2EF;
  box-sizing: border-box;
  margin-left: 4%;
  border-radius: 10px;
}

.media768{
  background-color: #F6F2EF;
  box-sizing: border-box;
  margin-left: 4%;
  border-radius: 10px;
}

#psimg{
  width: 90%;
  height: auto;
  padding-top: 7%;
  padding-bottom: 7%;
}

#psimg320{
  width: 90%;
  height: auto;
}

#psimg768{
  width: 90%;
  height: auto;
}

.imgps{
  display: flex;
  justify-content: right;
}
.img320{
  display: flex;
  justify-content: center;
}
.img768{
  display: flex;
  justify-content: right;
}
.text{
  padding-top: 7%;
  padding-bottom: 7%;
  margin-left: 12%;
}
.text320{
  margin-left: 4%;
}
#quantity{
  font-size: 28px;
  font-weight: 500;
  display: inline-block;
}
#quantity320{
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
}

#inputQuantity{
  margin-left: 1%;
  box-sizing: border-box;
  background-color: #C7988E;
  border: none;
  padding: 5px;
  font-size: 25px;
  font-weight: 400;
  color: white;
  width: 15%;
}
#inputQuantity320{
  margin-left: 2%;
  box-sizing: border-box;
  background-color: #C7988E;
  border: none;
  padding: 2px;
  font-size: 15px;
  font-weight: 400;
  color: white;
  width: 30%;
}
#size{
  font-size: 28px;
  font-weight: 500;
  display: inline-block;
}
#size320{
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
}

.mbtn{
  border: none;
  background-color: #C7988E;
  font-size: 25px;
  font-weight: 400;
  color: white;
  width: 5%;
  margin-left: 2%;
}
.mbtn320{
  border: none;
  background-color: #C7988E;
  font-size: 15px;
  font-weight: 400;
  color: white;
  width: 15%;
  margin-left: 3%;
}
.sbtn{
  border: none;
  background-color: #C7988E;
  font-size: 15px;
  font-weight: 400;
  color: white;
  width: 5%;
  margin-left: 2%;
}

.sbtn320{
  border: none;
  background-color: #C7988E;
  font-size: 15px;
  font-weight: 400;
  color: white;
  width: 15%;
  margin-left: 6%;
}

.addtocartbtn{
  border: none;
  background-color: #C7988E;
  color: white;
  margin-top: 5%;
  border-radius: 10px;
  font-size: 25px;
  width: 40%;
  padding: 15px;
  margin-left: 5%;
}

.addtocartbtn320{
  border: none;
  background-color: #C7988E;
  color: white;
  margin-top: 5%;
  border-radius: 10px;
  font-size: 15px;
  width: 95%;
  padding: 10px;
  margin-left: 1%;
}
.buyitbtn{
  border: none;
  background-color: #C7988E;
  color: white;
  margin-top: 5%;
  border-radius: 10px;
  font-size: 25px;
  width: 40%;
  padding: 15px;
  margin-left: 5%;
}

.buyitbtn320{
  border: none;
  background-color: #C7988E;
  color: white;
  margin-top: 5%;
  border-radius: 10px;
  font-size: 15px;
  width: 95%;
  padding: 10px;
  margin-left: 1%;
}



.img1024{
  width: 90%;
  height: auto;
  padding-top: 7%;
  padding-bottom: 7%;
}



.backbtn{
  border: none;
  box-sizing: border-box;
  background-color: #F6F2EF;
  color: #C7988E;
  border-radius: 10px;
  margin-top: 14%;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10%;
  padding: 5px;
  font-size: 20px;
}


* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (min-width: 2560px) {
}

@media only screen and (width: 1024px) {
  .productSelect{
    display: none;
  }
}

@media only screen and (width: 768px) {
  .productSelect, .media320, .media1024{
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .productSelect, .media1024, .media768{
    display: none;
  }
}

