<app-auth-header></app-auth-header>
<!-- <div class=" col-10 col-s-10 productSelect">
  <div class="row">
    <div class="col-6 col-s-6 imgps">
        <img id="psimg" src="../../../../assets/imgs/image1.jpg" alt="">
    </div>
    <div class="col-6 col-s-6">
      <div class="text">
        <h1>Product Name:</h1>
        <h3 style="padding-top: 25px;">Php 100.00</h3>
        <label id="quantity" style="padding-top: 25px;">Quantity </label>
        <input id="inputQuantity" type="number" min="0"><br>
        <label id="size" style="padding-top: 25px;">Size: </label>
        <button type="button" class="mbtn">M</button>
        <button type="button" class="sbtn">S</button>
        <h3 style="padding-top: 25px;">Available: 10pcs</h3>
        <button type="button" class="addtocartbtn">Add to Cart</button><br>
        <button type="button" class="buyitbtn">Buy It Now</button>
      </div>
    </div>
    <button type="button" class="btn button3  btn-lg mb-3">Back</button>
  </div>
</div>

<div class=" col-11 col-s-11 media1024">
  <div class="row">
    <div class="col-6 col-s-6 img1024">
        <img id="psimg" src="../../../../assets/imgs/image1.jpg" alt="">
    </div>
    <div class="col-6 col-s-6">
      <div class="text">
        <h5>Product Name:</h5>
        <h3 style="padding-top: 25px;">Php 100.00</h3>
        <label id="quantity" style="padding-top: 25px;">Quantity </label>
        <input id="inputQuantity" type="number" min="0"><br>
        <label id="size" style="padding-top: 25px;">Size: </label>
        <button type="button" class="mbtn">M</button>
        <button type="button" class="sbtn">S</button>
        <h3 style="padding-top: 25px;">Available: 10pcs</h3>
        <button type="button" class="addtocartbtn">Add to Cart</button><br>
        <button type="button" class="buyitbtn">Buy It Now</button>
      </div>
    </div>
    <button type="button" class="btn button3  btn-lg mb-3">Back</button>
  </div>
</div> -->


<div class=" col-11 col-s-11 media768">
  <div class="row">
    <div class="col-7 col-s-7 img768">
        <img id="psimg768" src="../../../../assets/imgs/image1.jpg" alt="">
    </div>
    <div class="col-4 col-s-4">
      <div class="text768">
        <h6 style="font-weight: 500; font-size: 18px;">Product Name:</h6>
        <p style="font-weight: 500; font-size: 18px;">Php 100.00</p>
        <label id="quantity768">Quantity </label>
        <input id="inputQuantity768" type="number" min="0"><br>
        <label id="size768">Size: </label>
        <button type="button" class="mbtn768">M</button>
        <button type="button" class="sbtn768">S</button>
        <p style="font-weight: 500; font-size: 18px;">Available: 10pcs.</p>
        <button type="button" class="addtocartbtn768">Add to Cart</button><br>
        <button type="button" class="buyitbtn768">Buy It Now</button>
      </div>
    </div>
  </div>
</div>



<div class=" col-11 col-s-11 media320">
  <div class="row">
    <div class="col-3 col-s-3 img320">
        <img id="psimg320" src="../../../../assets/imgs/image1.jpg" alt="">
    </div>
    <div class="col-3 col-s-3">
      <div class="text320">
        <p style="font-weight: 500; font-size: 18px;">Product Name:</p>
        <p style="font-weight: 500; font-size: 18px;">Php 100.00</p>
        <label id="quantity320">Quantity </label>
        <input id="inputQuantity320" type="number" min="0"><br>
        <label id="size320">Size: </label>
        <button type="button" class="mbtn320">M</button>
        <button type="button" class="sbtn320">S</button>
        <p style="font-weight: 500; font-size: 18px;">Available: 10pcs.</p>
        <button type="button" class="addtocartbtn320">Add to Cart</button><br>
        <button type="button" class="buyitbtn320">Buy It Now</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="backbtn">Back</button>
<hr>
<app-cus-footer></app-cus-footer>
