<div class="backdrop"></div>

<!-- Correct Code -->
<div class="container">
  <div class="content">
    <div class="header">
      <h2>Reset Password</h2>
    </div>
    <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">
    <div class="body">
      <label for="">New Password</label>
      <div class="alert alert-danger" role="alert" *ngIf="error && error.password">
        <div *ngFor="let password of error.password">
          *{{ password }}
        </div>
      </div>
      <input type="password" class="form-control" formControlName="password" placeholder="********">
      <span>Minimum of 6 characters</span>
      <br>
      <br>
      <label for="">Confirm Password</label>
      <div class="alert alert-danger" role="alert" *ngIf="error && error.password_confirmation">
        <div *ngFor="let password of error.password_confirmation">
          *{{ password }}
        </div>
      </div>
      <input type="password" class="form-control" formControlName="password_confirmation" placeholder="********">
    </div>
    <hr>
    <div class="footer">
      <button class="btn btn-danger" routerLink="/">Cancel</button>
      <button type="submit" class="btn btn-primary reset">Reset Password</button>
    </div>
  </form>
  </div>
</div>
<!-- Correct Code -->
