.media320, .media768{
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F6F2EF;
  margin-bottom: 10%;
  color: #C7988E;
  font-family: 'Roboto';
}

.return{
  padding: 10px;
}

.btn-primary{
  width: 100% !important;
  background: #C7988E;
  border: none !important;
  color: white;
}

.Unathorized{
  text-align: center;
}

hr{height: 0.2vw;}
.hr{background-color: white;}
a{
  color: #C7988E;
  text-decoration: none;
}
.account, .deliverypanel{
  background-color: #F6F2EF;
  border-radius: 5px;
}
.profileimg{
  width: 60%;
  height: 28%;
  border-radius: 50%;
  margin-top: 20%;
}
.addbtn{
  box-sizing: border-box;
  border: none;
  float: right;
  margin-top: 4vw;
  background-color: rgb(19, 153, 231);
  border-radius: 3px;
  width: 20vw;
  color: #F6F2EF;
}
.address320{
  margin-top: 5vw;
}
.deliverypanel{margin-left: 7%;}
.submedia{margin-bottom: 7vw;}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%; }
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media screen and (min-width: 320px) {
  table{width: 100%;}
  td{
    border: 1px solid #bb5b45;
  }
  .label{
    font-weight: bold;
    margin-left: 2vw;
    font-size: 4vw;
    width: 33vw;
  }
  .data{
    padding-left: 3vw;
    font-size: 4vw;
  }
  .editbtn{
    background-color: #C7988E;
    color: #F6F2EF;
    width: 20vw;
    margin-bottom: 8vw;
    border-radius: 5px;
    border: none;
    padding: 1vw;
    font-size: 4vw;
    margin-top: 3vw;
    float: right;
  }
  .media320{margin-left: 4.5vw;}
  td, th{font-size: 4vw;}
}
@media screen and (min-width:375px){

}
@media screen and (min-width:420px){

}
@media screen and (max-width: 767px){
  .media768{display: none;}
}
@media screen and (min-width:600px){
  #headerhr{width: 89vw;}
}

@media screen and (min-width: 768px) {
  .media320{display: none;}
  .media768{
    background-color: transparent;
    margin-bottom: -8vw;
  }
  .deliverypanel{
    margin-left: 3%;
    width: 72%;
    margin-bottom: 35%;
  }
  .header768, .account p, p, .address{font-size: 2vw;}
  .account{
    text-align: center;
    /* margin-bottom: 49%; */
    margin-left: 2.6vw;
    width: 20%;
    height: 35vw;
  }
  .account p{
    margin-bottom: 0%;
    padding-top: 2vw;
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 3px solid #bb5b45;
    margin-top: 2vw;
  }
  th, td {
    text-align: left;
    padding-right: 10vw;
    padding-left: 1vw;
    padding-top: 1vw;
    font-size: 2vw;
  }
  th{
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 2vw;
    background-color: #C7988E;
    border: 1px solid #C7988E;
  }
  td{
    margin-top: 2vw;
    font-size: 2vw;
  }
  tr:nth-child(odd){background-color: #c0b2af}
  .address{
    margin-top: 2vw;
  }
  .hr768{
    margin-top: 1vw;
  }
  .editbtn{
    width: 10vw;
    padding: 0.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 2vw;
    margin-right: 4vw;
  }
  .addbtn{
    margin-top: -5vw;
    width: 11vw;
  }
  .col-6{
    margin-bottom: 2vw;
  }
  .hr768{
    margin-top: 0vw;
  }
  .profileimg{
    width: 63%;
    height: 24%;
  }
}
@media screen and (min-width: 1024px) {
  .media768{margin-bottom: -19vw;}
  .account{
    width: 16.66%;
    margin-left: 8vw;
    height: 28vw;
  }
  .account p, .editbtn, .addbtn, td, th, .address, .header768{font-size: 1.3vw;}
  .deliverypanel{
    margin-bottom: 22%;
    margin-left: 8%;
    width: 60%;
  }
  .addbtn{
    width: 8vw;
    padding: 0.5vw;
    margin-top: -4vw;
  }
  .deliverypanel{
    height: 40vw;
  }
}
@media screen and (min-width:1440px) {
  .account{margin-bottom: 33%;}
  #hr768{width: 58vw;}
}
@media screen and (min-width: 2560px) {
}

