<app-sample-header></app-sample-header>
<div class="col-11 col-s-11 media320">
  <div class="row">
    <div class="col-12 col-s-12">
      <div class="row">
        <div class="col-6 col-s-6">
          <p class="address320">Addresses</p>
        </div>
        <div class="col-6 col-s-6">
          <button class="addbtn">Add</button>
        </div>
      </div>
    </div>
    <hr style = "margin-left: -1vw;">
    <div class="col-12 col-s-12"  style="overflow-y: scroll;">
      <div class="col-12 col-s-12" >
        <table>
          <tr>
            <td class="label">Contact Number:</td>
            <td class = "data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Postal Code:</td>
            <td class = "data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Region:</td>
            <td class = "data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Province:</td>
            <td class = "data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">City:</td>
            <td class = "data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Municipality:</td>
            <td class="data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Barangay:</td>
            <td class="data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Active:</td>
            <td class = "data">Test Data</td>
          </tr>
        </table>
        <button class="editbtn">Edit</button>
      </div>
      <div class="col-12 col-s-12" >
        <table>
          <tr>
            <td class="label">Contact Number:</td>
            <td class = "data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Postal Code:</td>
            <td class = "data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Region:</td>
            <td class = "data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Province:</td>
            <td class = "data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">City:</td>
            <td class = "data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Municipality:</td>
            <td class="data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Barangay:</td>
            <td class="data">Test Data</td>
          </tr>
          <tr>
            <td class = "label">Active:</td>
            <td class = "data">Test Data</td>
          </tr>
        </table>
        <button class="editbtn">Edit</button>
      </div>
    </div>
  </div>
</div>

<div class="col-12 col-s-12 media768">
  <div class="row">
    <div class="col-3 col-s-3 account">
      <img class="profileimg" src="../../../../assets/imgs/profile.jpg" alt="">
      <a routerLink="/show-profile">
        <p class="customername">Customer Name</p>
      </a>
      <a routerLink="/edit-account">
        <p class="editaccount">Edit Account</p>
      </a>
      <a routerLink="/all-orders">
        <p class="myorders">My Orders</p>
      </a>
      <a routerLink="/addresses">
        <p class="addressacc">Addresses</p>
      </a>
    </div>
    <div class="col-8 col-s-8 deliverypanel">
      <div class="row">
        <div class="col-12">
          <p class="address">Addresses</p>
          <button routerLink="/addresses/add" class="addbtn">Add</button>
        </div>
        <!-- <div class="col-12 col-s-12 header768 d-flex justify-content-between align-items-center">
          Addresses
          <button routerLink="/addresses/add" class="addbtn">Add</button>
        </div> -->
        <hr class="hr768">
        <div class="col-12 col-s-12">
          <div style="overflow-x: auto; margin-bottom: 2vw;">
            <table>
              <tr>
                <th>Contact Number</th>
                <th>Postal Code</th>
                <th>Region</th>
                <th>Province</th>
                <th>City</th>
                <th>Municipality</th>
                <th>Barangay</th>
                <th>Active</th>
                <th>Actions</th>
              </tr>
              <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <button class="editbtn">Edit</button>
              </tr>
              <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
              </tr>
              <tbody>
                <tr *ngFor="let address of addresses">
                  <td>{{ address.contact_number}}</td>
                  <td>{{ address.postal_code}}</td>
                  <td>{{ address.region}}</td>
                  <td>{{ address.province}}</td>
                  <td>{{ address.city}}</td>
                  <td>{{ address.municipality}}</td>
                  <td>{{ address.barangay}}</td>
                  <td>{{ address.active }}</td>
                  <td>
                    <button class="btn btn-sm btn-success" [routerLink]="['/addresses',address.id, 'update']">edit</button>
                  </td>
              </tbody>
            </table>
          </div>
  
        </div>
       

      </div>
    </div>
  </div>
</div>
<hr class="hr">

<app-cus-footer></app-cus-footer>
