<app-sample-header></app-sample-header>
<div class="container1">
    <div class="shop">
        <a class="d-flex shopbtn justify-content-center " id="Summer Collections" (click)="selectCategory($event)">SHOP THE COLLECTION</a>
        <img src="../../../../assets/imgs/1.jpeg" class="img-fluid" alt="">
    </div>
    <div class="shop">
        <a class="d-flex justify-content-center shopbtn" id="Second Collections" (click)="selectCategory($event)">SHOP THE COLLECTION</a>
        <img src="../../../../assets/imgs/2.jpeg" class="img-fluid" alt="">
    </div>
    <div class="shop">
        <a class="d-flex shopbtn justify-content-center " id="First Collections" (click)="selectCategory($event)">SHOP THE COLLECTION</a>
        <img src="../../../../assets/imgs/3.jpeg" class="img-fluid" alt="">
    </div>

    <div class="shop4 p-4" *ngIf="salesItem">
        <h3 class="text-center m-3">Hot Sales</h3>
        <div class="row">
          <div class="col" *ngFor="let sale of salesItem | slice: 0:maxSaleDisplay">
            <div class="card"  style="width: 18rem;" (click)="select(sale, 'onsale')">
              <img class="card-img-top" src="{{ sale.image }}" alt="Card image cap">
              <div class="card-body text-center">
                <h5 class="card-title">{{ sale.name }} <span class="badge badge-pill badge-danger">{{ sale.promo_price }}{{ sale.promo_type }} Off</span></h5>
                  <p><span class="badge badge-pill badge-success">Size: {{sale.availableSize }}</span></p>
                    <p class="card-text">₱ {{ sale.sale_price }}
                    <i class="fas fa-cart-plus"></i>
                  </p>
                  <span class="oldPrice"><del> ₱ {{ sale.price }} </del></span>
              </div>
            </div>
          </div>
            <div class="d-flex justify-content-center pt-3" *ngIf='displayViewAllSales'>
                <button class="viewbtn" (click)='viewAll(1)'>View All</button>
            </div>
        </div>
    </div>

    <div class="parallax">
      <div class="announceMent">
        <h2 class="announceText">Incoming Third Collections</h2>
      </div>
    </div>

    <div class="shop4" *ngIf="products">
        <h3 class="text-center m-3">Featured Collections</h3>
        <div class="row">
          <div class="col" *ngFor="let product of products | slice: 0:maxProductDisplay">
            <div class="card card-feature" (click)="select(product, 'feature')">
              <img class="card-img-top" src="{{ product.image }}" alt="Card image cap">
              <div class="card-body text-center">
                <h5 class="card-title">{{ product.name }}</h5>
                <p><span class="badge badge-pill badge-success">Size: {{ product.availableSize}}</span></p>
                    <p class="card-text">₱ {{ product.price }}
                    <i class="fas fa-cart-plus"></i>
                    </p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center pt-3" *ngIf='displayViewAllProduct'>
            <button class="btn viewbtn" type="button" (click)='viewAll(2)'>View All</button>
          </div>
        </div>
    </div>
    <hr class="line">
</div>
<app-cus-footer></app-cus-footer>
