<app-sample-header></app-sample-header>
<div class="container">
    <div class="shop1">
        <img src="../../../../assets/imgs/image1.jpg" alt="">
        <button class="shopbtn">SHOP THE COLLECTION</button>
    </div>
    <div class="shop2">
        <button class="shopbtn1">SHOP THE COLLECTION</button>
    </div>
    <div class="shop3">
        <button class="shopbtn2">SHOP THE COLLECTION</button>
    </div>
    <div class="shop4">
        <div class="card">

        </div>
    </div>
    
</div>
<app-cus-footer></app-cus-footer>
