<app-sample-header></app-sample-header>
<!-- <app-guest-header></app-guest-header> -->
<!-- <app-auth-header></app-auth-header> -->
<div class="container1">
    <div class="shop">
        <button class="shopbtn">SHOP THE COLLECTION</button>
        <img src="../../../../assets/imgs/1.jpeg" class="img-fluid" alt="">
    </div>
    <div class="shop">
        <button class="d-flex justify-content-center shopbtn ">SHOP THE COLLECTION</button>
        <img src="../../../../assets/imgs/2.jpeg" class="img-fluid" alt="">
    </div>
    <div class="shop">
        <button class="shopbtn">SHOP NOW</button>
        <img src="../../../../assets/imgs/3.jpeg" class="img-fluid" alt="">
    </div>


    <div class="shop4 p-4">
        <h3 class="text-center m-3">Hot Sales</h3>
        <div class="row">
            <div class="card" *ngFor = "let product of products">
                <img class="card-img-top" src="{{ product+product.image }}" alt="Card image cap" *ngIf="product.image">
                <img class="card-img-top" src="../../../../assets/imgs/unnamed.png" alt="Card image cap" *ngIf="!product.image">
                <div class="card-body text-center">
                    <h6 class="card-title">{{product.name}}</h6>
                    <p class="card-text">P {{product.price}}
                        <i class="fas fa-cart-plus"></i> </p>
                </div>
            </div>
        </div>
    </div>  
</div>
<br><br>
<app-cus-footer></app-cus-footer>
