<div class="basic-column w-col w-col-6">
  <div class="tag-wrapper">
    <h2>Pending Orders</h2>
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Product</th>
          <th scope="col">Size</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Account">John Doe After</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
        <tr>
          <td data-label="Account">John Doe</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
        <tr>
          <td data-label="Account">John Doe</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
        <tr>
          <td data-label="Account">John Doe</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
        <tr>
          <td data-label="Account">John Doe</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
        <tr>
          <td data-label="Account">John Doe</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
        <tr>
          <td data-label="Account">John Doe</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
        <tr>
          <td data-label="Account">John Doe</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
        <tr>
          <td data-label="Account">John Doe</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
        <tr>
          <td data-label="Account">John Doe</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
        <tr>
          <td data-label="Account">John Doe</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
        <tr>
          <td data-label="Account">John Doe</td>
          <td data-label="Due Date">Dress Up</td>
          <td data-label="Period">M</td>
          <td data-label="Amount">10</td>
          <td data-label="Period">Php 100.00</td>
          <td data-label="Period">Php 1000.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
