body .mat-typography{
  background-color: #C7988E;
}


.card .card-img-top {
  height: 20em;
  object-fit: cover;
}

.container{
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsive-image{
  width: 100%;
}
.Unathorized{
  text-align: center;
}

.paginator{
  text-align: center;
  margin-top: 70px;
}

.card {
  margin: auto;
  width: 20em;
  margin-top: 2em;
}


.card{
  box-shadow: 6px 6px 7px dimgrey;
}

.title{
  position: relative;
}

.result{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.outerLine{
  background-color: white;
  margin-top: 60px;
}

@media screen and (max-width:375px) and (min-width:320px) {
  .outerLine{
    margin-top: 60px;
  }
  .response {
    margin-top: -6px;
  }
  h2{
    font-size: 23px;
  }
}
