<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-1 text-center">
                <div class="four_zero_four_bg">
                    <h1 class="text-center ">404</h1>
                </div>

                <div class="contant_box_404">
                    <h3 class="h2">
                        Looks like you got lost... Or we trying to confuse you..
                    </h3>

                    <p>Let me bring you at home.</p>

                    <a routerLink="/" class="link_404">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
