.header {
    padding: 58px 10px 10px 10px;
    background-color: #C7988E;
    color: white;
    box-shadow: 1px 2px 10px dimgrey;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.burger-menu {
    width: 47px;
    margin-left: 30px;
}

.logo {
    width: 116px;
}

.right {
    float: right;
    margin-top: -41px;
    margin-right: 26px;
}

.top-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-navigation li {
    display: inline;
    margin-left: 20px;
    font-size: 22px;
    font-family: arial;
}

.top-navigation li a {
    text-decoration: none;
    color: white;
}
