<div class="header">
    <div class="wrapper">
        <div class="header-wrapper">
            <div class="right">
                <ul class="top-navigation">
                    <li (click)="notification()"><a><i class="fa fa-bell" style="font-size:24px"></i><span class="badge">3</span> Notification </a></li>
                    <div class="dropdown">
                        <button class="dropbtn"><i class='fas fa-user-alt' style='font-size:24px'></i> {{ name }} </button>
                        <div class="dropdown-content">
                            <a routerLink="/admin/myProfile">My Profile</a>
                            <a (click)="logout()">Log Out</a>
                        </div>
                    </div>
                    <!-- <li><a routerLink="#"></a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
