<footer class="col-11 col-s-11 footer320">
  <div class="row">
    <div class="col-12 col-s-12 dagomtxt">
      <p>Dagom</p>
    </div>
    <div class="col-12 col-s-12 dagomtxt1">
      <p>/da-gom/</p>
    </div>
    <div class="col-12 col-s-12">
      <p class="descript">:a Santafehanon word for clothes.</p>
    </div>
    <div class="col-12 col-s-12">
      <p class="descript">:items such as blouses, dresses and trousers.</p>
    </div>
    <div class="col-12 col-s-12">
      <p class="descript">:carefully selected and curated for the style mavens.</p>
    </div>
    <div class="col-12 col-s-12 about"><a href="">About Us</a></div>
    <div class="col-12 col-s-12 owners"><p>Owners</p></div>
    <div class="col-12 col-s-12 ownertxt"><p>Reanne Clariss Rayco</p></div>
    <div class="col-12 col-s-12 ownertxt"><p>Daryl Chriz Angel Rayco</p></div>
    <div class="col-12 col-s-12 ownertxt"><p>Zarah Verah Ilustrisimo</p></div>
    <div class="col-12 col-s-12 address"><p>Adress</p></div>
    <div class="col-12 col-s-12 contact"><p>Contact Us</p></div>
    <div class="col-12 col-s-12 contactnumber"><p>09XXXXXXXXX</p></div>
    <div class="col-12 col-s-12 categories"><p>Categories</p></div>
    <div class="col-12 col-s-12 category"><a href="">First Collections</a></div>
    <div class="col-12 col-s-12 category"><a href="">Second Collections</a></div>
    <div class="col-12 col-s-12 category"><a href="">New Arrivals</a></div>
    <div class="col-12 col-s-12 category"><a href="">Hot Sales</a></div>
    <div class="col-12 col-s-12">
      <hr id="footerhr">
    </div>
    <div class="col-12 col-s-12 socilamedia">
      <div class="row">
        <div class="col-6 col-s-6 followus">
          <p>Follow Us</p>
        </div>
        <div class="col-2 col-s-2">
          <a href="https://web.facebook.com/dagom.santafe"><img class="fb" src="../../../../assets/imgs/facebook.svg" alt="fb"></a>
        </div>
        <div class="col-2 col-s-2">
          <a href="https://www.google.com/"><img class="messenger" src="../../../../assets/imgs/messenger.png" alt="messenger"></a>
        </div>
        <div class="col-2 col-s-2">
          <a href="https://www.google.com/"><img class="instagram" src="../../../../assets/imgs/instagram.png" alt="instagram"></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-s-12 footertxt">
      <p>© 2021 Dagom. All Rights Reserved</p>
    </div>
  </div>
</footer>



<footer class="col-12 col-s-12 footer768">
  <div class="row">
     <div class="col-4 col-s-4 dagom">
      <p id="dagomtxt">Dagom</p>
      <p id="dagomtxt1">/da-gom/</p>
      <p id="meaning">Dagom is an online thrift shop that offers brand-new and preloved blouses, dresses, trousers, and other clothing needs.</p>
    </div>
    <div class="col-1 col-s-1" style="width: 3.66%;"></div>
    <div class="col-3 col-s-3 ownersdiv">
      <p>About Us</p>
      <p>Owners</p>
      <p>Adress</p>
    </div>
    <div class="col-3 col-s-3 contactdiv">
      <p>Contact Us</p>
      <p>Contact Number</p>
    </div>
    <div class="col-3 col-s-3 categories">
      <p>Categories</p>
      <a href=""><p>First Collections</p></a>
      <a href=""><p>Second Collections</p></a>
      <a href=""><p>New Arrivals</p></a>
      <a href=""><p>Hot Sales</p></a>
    </div>
    <div class="col-12 col-s-12">
      <hr id="footerhr">
    </div>
    <div class="col-12 col-s-12">
      <div class="row">
        <div class="col-2 col-s-2 socialmeddiv">
          <p id="followus">Follow Us</p>
        </div>
        <div class="col-1">
          <a href="https://web.facebook.com/dagom.santafe"><img class="fb" src="../../../../assets/imgs/facebook.svg" alt="fb"></a>
        </div>
        <div class="col-1 col-s-1">
          <a href="https://www.google.com/"><img class="messenger" src="../../../../assets/imgs/messenger.png" alt="messenger"></a>
        </div>
        <div class="col-1 col-s-1">
          <a href="https://www.google.com/"><img class="instagram" src="../../../../assets/imgs/instagram.png" alt="instagram"></a>
        </div>
        <div class="col-1 col-s-1"></div>
        <div class="col-6 col-s-6 reserved">
          <p id="reserved">© 2021 Dagom. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
