<footer class="col-11 col-s-11 footer320">
  <div class="row">
    <div class="col-12 col-s-12 dagomtxt">
      <p>Dagom</p>
    </div>
    <div class="col-12 col-s-12 dagomtxt1">
      <p>/da-gom/</p>
    </div>
    <div class="col-12 col-s-12">
      <p class="descript">:a Santafehanon word for clothes.</p>
    </div>
    <div class="col-12 col-s-12">
      <p class="descript">:items such as blouses, dresses and trousers.</p>
    </div>
    <div class="col-12 col-s-12">
      <p class="descript">:carefully selected and curated for the style mavens.</p>
    </div>
    <div class="col-12 col-s-12 about"><a href="">About Us</a></div>
    <div class="col-12 col-s-12 owners"><p>Owners</p></div>
    <div class="col-12 col-s-12 address"><p>Adress</p></div>
    <div class="col-12 col-s-12 contact"><p>Contact Us</p></div>
    <div class="col-12 col-s-12 contactnumber"><p>09XXXXXXXXX</p></div>
    <div class="col-12 col-s-12 categories"><p>Categories</p></div>
    <div class="col-12 col-s-12 category"><a href="">First Collections</a></div>
    <div class="col-12 col-s-12 category"><a href="">Second Collections</a></div>
    <div class="col-12 col-s-12 category"><a href="">New Arrivals</a></div>
    <div class="col-12 col-s-12 category"><a href="">Hot Sales</a></div>
    <div class="col-12 col-s-12">
      <hr id="footerhr">
    </div>
    <div class="col-12 col-s-12 socilamedia">
      <div class="row">
        <div class="col-6 col-s-6 followus">
          <p>Follow Us</p>
        </div>
        <div class="col-2 col-s-2">
          <a href="https://www.google.com/"><img class="fb" src="../../../../assets/imgs/facebook.svg" alt="fb"></a>
        </div>
        <div class="col-2 col-s-2">
          <a href="https://www.google.com/"><img class="messenger" src="../../../../assets/imgs/messenger.png" alt="messenger"></a>
        </div>
        <div class="col-2 col-s-2">
          <a href="https://www.google.com/"><img class="instagram" src="../../../../assets/imgs/instagram.png" alt="instagram"></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-s-12 footertxt">
      <p>© 2021 Dagom. All Rights Reserved</p>
    </div>
  </div>
</footer>

<footer class="col-11 col-s-11 footer768">
  <div class="row">
    <div class="col-4">
      <p>Dagom</p>
      <p>/da-gom/</p>
      <p class="descript">:a Santafehanon word for clothes.</p>
      <p class="descript">:items such as blouses, dresses and trousers.</p>
      <p class="descript">:carefully selected and curated for the style mavens.</p>
    </div>
  </div>
</footer>


<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h4 class="text-center">Dagom</h4><br>
                <p class="text-center">/da-gom/</p>
                <p class="card-text">:a Santafehanon word for clothes.</p>
                <p class="card-text">:items such as blouses, dresses and trousers.</p>
                <p class="card-text">:carefully selected and curated for the style mavens.</p>

            </div>
            <div class="col text-center">
                <a href="">
                    <p>About us</p>
                </a>
                <a href="">
                    <p>Owners</p>
                </a>
                <a href="">
                    <p>Address</p>
                </a>
            </div>
            <div class="col text-center">
                <a href="">
                    <p>Contact Us</p>
                </a>
                <a href="">
                    <p>Contact Number</p>
                </a>
            </div>
            <div class="col text-center">
                <a href="">
                    <p>Categories</p>
                </a>
                <a href="">
                    <p>First Collections</p>
                </a>
                <a href="">
                    <p>Second Collections</p>
                </a>
                <a href="">
                    <p>New Arrivals</p>
                </a>
                <a href="">
                    <p>Hot Sales</p>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col col-lg-2">
                <h5>
                    Follow Us
                </h5>
            </div>
            <div class="col-md-auto">
                <h5>
                    <a href=""> <i class="fab fa-facebook facebook-icon"></i> </a>
                    <a href=""> <i class="fab fa-facebook-messenger messenger-icon"></i> </a>
                </h5>
            </div>
            <div class="col">
                <p class="footertxt" style="text-align: end;">© 2021 Dagom. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
 -->
