<footer class="footer">
    <div class="col-11 col-s-11 media768">
        <div class="row">
            <div class="col-4 col-s-4 dagom">
                <h4 style="margin-left: 20%;">Dagom</h4>
                <p style="margin-left: 20%;">/da-gom/</p>
                <p>:a Santafehanon word for clothes.</p>
                <p>:items such as blouses, dresses and trousers.</p>
                <p>:carefully selected and curated for the style mavens.</p>
            </div>
            <div class="col-3 col-s-3 about" style="text-align:center;">
                <a href="">About Us</a>
                <p>Daryl Criz Angel Rayco</p>
                <p>Reanne Clariss Rayco</p>
                <p>Zarah Verah Ilustrisimo</p>
                <p>Sta. Fe, Daan Bantayan, Cebu</p>
            </div>
            <div class="col-2 col-s-2 contact" style="text-align:center;">
                <a href="">Contact Us</a>
                <p>09123456789</p>
            </div>
            <div class="col-2 col-s-2 categories">
                <a href="">Categories</a>
                <a href="">
                    <p>First Collections</p>
                </a>
                <a href="">
                    <p>Second Collections</p>
                </a>
                <a href="">
                    <p>New Arrivals</p>
                </a>
                <a href="">
                    <p>Hot Sales</p>
                </a>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="connected">
                        <h5>
                            Stay Connected
                        </h5>
                    </div>
                    <div class="socialMedia">
                        <a href=""><i class="fab fa-facebook facebook-icon"></i></a>
                        <a href=""><i class="fab fa-facebook-messenger messenger-icon"></i> </a>
                        <a href=""><i class="fab fa-instagram"></i> </a>
                    </div>
                    <p class="allRightsReserved"> &copy; Dagom.All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10 col-s-10 container320">
        <div class="row">
            <div class="col-12 col-s-12">
                <h4>Dagom</h4>
            </div>
            <div class="col-12 col-s-12">
                <p style="text-align:center;">/da-gom/</p>
            </div>
            <div class="col-12 col-s-12">
                <p style="margin-left: 15%;">:a Santafehanon word for clothes.</p>
            </div>
            <div class="col-12 col-s-12">
                <p style="margin-left: 15%;">:items such as blouses, dresses and trousers.</p>
            </div>
            <div class="col-12 col-s-12">
                <p style="margin-left: 15%;">:carefully selected and curated for the style mavens.</p>
            </div>

            <div class="footerInfo" style="margin-top: 5%;">
                <div class="col-12 col-s-12">
                    <a href="">About Us</a>
                </div>
                <div class="col-12 col-s-12">
                    <p>Daryl Criz Angel Rayco</p>
                </div>
                <div class="col-12 col-s-12">
                    <p>Reanne Clariss Rayco</p>
                </div>
                <div class="col-12 col-s-12">
                    <p>Zarah Verah Ilustrisimo</p>
                </div>
                <div class="col-12 col-s-12">
                    <p>Sta. Fe, Daan Bantayan, Cebu</p>
                </div>
            </div>

            <div class="footerInfo" style="margin-top: 5%;">
                <div class="col-12 col-s-12">
                    <a href="">Contact Us</a>
                </div>
                <div class="col-12 col-s-12">
                    <p>09123456789</p>
                </div>
            </div>


            <div class="footerInfo" style="margin-top: 5%;">
                <div class="col-12 col-s-12">
                    <a href="">Categories</a>
                </div>
                <div class="col-12 col-s-12">
                    <a href="">
                        <p>First Collections</p>
                    </a>
                </div>
                <div class="col-12 col-s-12">
                    <a href="">
                        <p>Second Collections</p>
                    </a>
                </div>
                <div class="col-12 col-s-12">
                    <a href="">
                        <p>New Arrivals</p>
                    </a>
                </div>
                <div class="col-12 col-s-12">
                    <a href="">
                        <p>Hot Sales</p>
                    </a>
                </div>

            </div>

            <hr>
            <div class="container">
                <div class="row">
                    <div class="col connected">
                        <h5>
                            Stay Connected
                        </h5>
                    </div>
                    <div class="col-md-auto socialMedia">
                        <a href=""> <i class="fab fa-facebook facebook-icon"></i> </a>
                        <a href=""> <i class="fab fa-facebook-messenger messenger-icon"></i> </a>
                        <a href=""> <i class="fab fa-instagram instagram-icon"></i> </a>
                    </div>
                    <p class=" col-12 col-s-12 allRightsReserved"> &copy; Dagom.All Rights Reserved</p>
                </div>
            </div>
            <hr>
        </div>
    </div>



</footer>